<!-- header stsrt -->
<div class="header-wrap {% if current_page == 'index' %} head-anim {% endif %} logout-wrap">
    <div class="header full">
        <div class="wrap">
            <div class="header-left">
                <a class="tel-wrap" href="javascript:;">
                    <i class="ico ico-tel1"></i>
                    400-619-3360
                </a>
                <a class="gwm-logo" href="/">
                    <i class="ico ico-gwm-logo"></i>
                    跟我买
                </a>
            </div>
            <div class="header-center">
                <div class="head-nav">
                    <a {% if current_page == 'index' %} class="cur" {% endif %} href="/">
                        首页
                    </a>
                    <a {% if current_page == 'join' %} class="cur" {% endif %} href="/join">
                        品牌商申请入驻
                    </a>
                    <a {% if current_page == 'login' %} class="cur" {% endif %} href="/login">
                        品牌商登录
                    </a>
                </div>
            </div>
            <div class="header-right">
                <div class="gwm-weixin "><i class="ico ico-weixin"></i>genwomai123</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- header end -->
