<!DOCTYPE html>
<html>
<head>
    <title>修改商品信息</title>
    {% include "admin_shared/before_header.html"  %}
    <link rel="stylesheet" href="/static/www/pc/v1/css/publish_position.css"/>
    <script src="/static/www/lib/ckeditor/ckeditor.js"></script>
</head>
<body>

{% include "admin_shared/header.html" %}

<!-- page-main start -->
<div class="page-main full publish_goods_page">
    <div class="tab-s1">
        <span class="btn btn-l1 btn-white">修改商品信息</span>
    </div>
    <div class="wrap">
        <div class="publish-wrap">
            <!-- 新商品表单 start -->
            <form method="post" action="/product/edit?pid={{ info['id'] }}" id="submit_form" ajaxUrl="/product/edit?pid={{ info['id'] }}">
                <div class="pulish-form">
                    <ul class="form-list1">
                        <li class="li">
                            <label class="lab-title">
                                <span class="vali-mark">*</span><span class="validate-title">商品名称：</span>
                                <span class="title-tips">最多60字</span>
                            </label>
                            <div class="ele-wrap">
                                <input class="form-control js_validate" maxlength="60" placeholder="" id="name" name="name" type="text" value="{{ info['name'] }}" autocomplete="off" />
                            </div>
                        </li>
                        <li class="txt-s1">
                            <label class="lab-title">
                                <span class="validate-title">商品属性：</span>
                                <input onclick="product_add_attr()" class="btn btn-s5 btn-orange2" type="button" value="添加商品属性" />
                            </label>
                        </li>

                        <li class="li li-s1 product_property">
                            <label class="lab-title">
                                <span class="validate-title">商品属性名(*)：</span>
                                <span class="title-tips">输入自定义属性名称，如颜色、尺寸等</span>
                                <input class="btn btn-s5 btn-orange2" onclick="product_remove_attr(this)" type="button" value="删除此属性" />
                            </label>
                            <div class="ele-wrap">
                                <input class="form-control js_validate attr_key" placeholder="" id="attr_*_key" name="attr[*][key]" type="text" value="" autocomplete="off" />
                                <input type="hidden" name="attr[index]" value="*" />
                            </div>
                            <div class="ele-wrap select_checkbox">
                                <div class="sel_textarea">
                                    <textarea class="form-control" id="attr_*_value" name="attr[*][value]" addName="attr[*][list]" placeholder="添加具体属性，1行1个"></textarea>
                                </div>
                                <div class="sel_oper">
                                    <a class="btn sel_add" id="sel_*_add" href="javascript:;">添 加</a>
                                    <a class="btn sel_remove" id="sel_*_remove" href="javascript:;">移 去</a>
                                </div>
                                <div class="sel_checkbox"></div>
                                <div class="clear"></div>
                            </div>
                        </li>

                        <li class="li deduct-ele">
                            <label class="lab-title">
                                <span class="vali-mark">*</span><span class="validate-title">库存数量：</span>
                                <span class="title-tips">输入数字</span>
                            </label>
                            <div class="ele-wrap">
                                <div class="form-control-ele js-pfocus">
                                    <input class="form-control js_validate" placeholder="" id="inventory" name="inventory" type="text" value="{{ info['inventory'] }}" autocomplete="off" />
                                    <div class="ele-right">件</div>
                                </div>
                            </div>
                        </li>
                        <li class="li deduct-ele">
                            <label class="lab-title">
                                <span class="vali-mark">*</span><span class="validate-title">商品售价：</span>
                                <span class="title-tips">最多可输入小数点2位</span>
                            </label>
                            <div class="ele-wrap">
                                <div class="form-control-ele js-pfocus">
                                    <input class="form-control js_validate" placeholder="" id="price" name="price" type="text" value="{{ info['price'] }}" autocomplete="off" />
                                    <div class="ele-right">元</div>
                                </div>
                            </div>
                        </li>
                        <li class="li deduct-ele has-center">
                            <label class="lab-title">
                                <span class="vali-mark">*</span><span class="validate-title">代言人分成金额：</span>
                                <span class="title-tips">请输入整数，不能超过商品售价的30%，最低不少于20元。</span>
                            </label>
                            <div class="ele-wrap">
                                <div class="form-control-ele  js-pfocus">
                                    <input class="form-control js_validate" onkeyup="count_shared_money(this)" placeholder="" id="commission_amount" name="commission_amount" type="text" value="{{ info['commission_amount'] }}" autocomplete="off" />
                                    <div id="shared_money" class="ele-center hidden"></div>
                                    <div class="ele-right">元</div>
                                </div>
                            </div>
                        </li>

                        <li class="li">
                            <label class="lab-title">
                                <span class="vali-mark">*</span><span class="validate-title">商品展示幻灯图：</span>
                                <span class="title-tips">提示：大小不能超过3M，建议尺寸在600-600px，最多6张</span>
                            </label>
                            <div class="ele-wrap">
                                <input type="hidden" id="multiple_size" value="100" />
                                <div class="add-imglist1">
                                    <input class="multiple_field_name" type="hidden" name="product_images" value="" id="product_img" />
                                    <div class="cell" id="container">
                                        <a class="btn-ftp1" id="pickfiles" href="javascript:;">
                                            <i class="ico ico-add"></i>
                                        </a>
                                    </div>
                                    <div id="result"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </li>

                        <li class="li">
                            <label class="lab-title">
                                <span class="vali-mark">*</span><span class="validate-title">商品描述：</span>
                            </label>
                            <div class="ele-wrap ckeditor-ele">
                                <div class="pickfiles_ckeditor_wrap">
                                    <input class="multiple_field_name_ckeditor" type="hidden" name="" value="" id="" />
                                    <div class="cell" id="container_ckeditor">
                                        <a id="pickfiles_ckeditor" href="javascript:;"></a>
                                    </div>
                                    <div id="result_ckeditor"></div>
                                </div>
                                <textarea id="ckeditor" cols="20" rows="2" class="ckeditor">{{ info['description'] }}</textarea>
                                <textarea style="display: none" id="description" name="description"></textarea>
                            </div>
                        </li>
                        <li class="txt-s2">
                            <label class="lab-title">
                                <span class="validate-title">运费物流</span>
                                <span class="title-tips">本站目前执行商品包邮政策。</span>
                            </label>
                        </li>
                        <li class="li">
                            <div class="ele-wrap">
                                <div class="form-control-ele">
                                    <div class="proxyinput_group">
                                        <label class="proxyinput proxy-checkbox ">
                                            <span class="h0hidden">
                                                {% if info['is_recommend'] == 1 %}
                                                    <input type="checkbox" id="is_recommend" name="is_recommend" checked="checked" value="1" />
                                                {% else %}
                                                    <input type="checkbox" id="is_recommend" name="is_recommend" value="" />
                                                {% endif %}
                                            </span>
                                            推荐商品（勾选后，商品在店铺首页优先展示）
                                        </label>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="l-submit">
                        <input onclick="on_submit()" class="btn btn-m3 btn-l4 btn-black" type="button" value="修&nbsp;&nbsp;&nbsp;&nbsp;改">
                    </div>
                </div>
            </form>
            <!-- 新商品表单 end-->
        </div>
    </div>
</div>
<!-- page-main end -->

<input type="hidden" id="domain" value="{{ domain }}" />
<input type="hidden" id="uptoken_url" value="/qiniu/token" />
<input type="hidden" id="get_key_url" value="/qiniu/key"/>

{% include "admin_shared/footer.html" %}

<script src='/static/www/lib/plupload/js/plupload.full.min.js'></script>
<script src='/static/www/lib/plupload/js/moxie.min.js'></script>
<script src='/static/www/lib/qiniu-sdk/qiniu.min.js'></script>

<script type="text/javascript">

    //ajax 表单验证
    //serviceValidateFun('#publish_goods_form');

    CKEDITOR.replace('ckeditor');

    var content_others_arr = [];
    var content_others = $('.product_property');
    var content_others_html = content_others.prop("outerHTML");
    content_others.html('').hide();

    //四舍五入，保留位数为roundDigit
    function roundFun(numberRound, roundDigit) {
        if (numberRound >= 0) {
            var tempNumber = parseInt((numberRound * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit);
            return tempNumber;
        } else{
            numberRound1 = -numberRound;
            var tempNumber = parseInt((numberRound1 * Math.pow(10, roundDigit) + 0.5)) / Math.pow(10, roundDigit);
            return -tempNumber;
        }
    }

    function count_shared_money(obj) {
        var money = $(obj).val();
        if (money >= 20 && money <= $('#price').val() * 0.3) {
            var first = roundFun(money * 0.7, 2);
            var second = roundFun(money * 0.3, 2);
            var warning = '（一级代言人将收入' + first + '元, 二级代言人收入' + second + '元）';
            $('#shared_money').html(warning).removeClass('hidden');
        } else {
            $('#shared_money').html('请输入整数，不能超过商品售价的30%，最低不少于20元。').removeClass('hidden');
        }
    }

    var sel_add_fun = function () {
        var property_value = $(this).parents('.select_checkbox').find('.sel_textarea textarea').val();
        var index = $(this).parents('.product_property').find('input[type="hidden"]').val();
        if (property_value) {
            var is_new = function (object, val) {
                if (!val) {
                    return false;
                }

                var _new = true;
                var list = object.parents('.select_checkbox').find('.sel_checkbox_li input');
                list.each(function () {
                    if ($(this).val() == val) {
                        _new = false;
                        return _new;
                    }
                });
                return _new;
            };

            var btn_obj = $(this);
            var values = property_value.split("\n");
            for (var i in values) {
                var v = $.trim(values[i]);
                if (is_new(btn_obj, v)) {
                    var info = {
                        'pid': '{{ info['id'] }}',
                        'name': $('#attr_' + index + '_key').val(),
                        'value': v
                    };
                    $.post('/product/add_property', info, function (result) {
                        if (!result) {
                            alert('远程服务器没有响应！');
                            return false;
                        }
                        if (!result.status) {
                            alert(result.message);
                        }
                    }, 'json');
                }
            }
        }
    };

    function product_add_attr() {
        content_others_arr.push(content_others_html);
        for (var i = 0 in content_others_arr) {
            content_others_arr[i] = content_others_arr[i].replace(/\*/g, i);
        }
        content_others.before(content_others_arr[content_others_arr.length - 1]).show(500);

        $('#sel_' + i + '_add').on('click', sel_add_fun);
        $('#sel_' + i + '_remove').on('click', sel_remove_fun);

        return i;
    }

    var sel_remove_fun = function () {
        var property_id = $(this).parents('.select_checkbox').find('.active input').attr('property_id');
        if (property_id > 0) {
            var info = {property_id: property_id};
            $.post('/product/del_property', info, function (result) {
                if (!result) {
                    alert('远程服务器没有响应！');
                    return false;
                }
                if (!result.status) {
                    alert(result.message);
                    return false;
                }
            }, 'json');
        }
    };

    function product_remove_attr(obj) {
        var info = {
            'pid': {{ info['id'] }},
            'name': $(obj).parents('li').find('.attr_key').val()
        };
        $.post('/product/remove_attr', info, function (result) {
            if (!result) {
                alert('远程服务器没有响应！');
                return false;
            }
            if (!result.status) {
                alert(result.message);
            } else {
                $(obj).parent().parent().remove();
            }
        }, 'json');
    }

    function on_submit() {

        $('#description').html(CKEDITOR.instances.ckeditor.getData());

        $.post($('#submit_form').attr('action'), $('#submit_form').serialize(), function (result) {
            if (!result) {
                alert('远程服务器没有响应，请稍后再试！');
                return false;
            }

            if (result.status) {
                alert(result.message);
                window.location = '/product';
                return false;
            }

            if (typeof result.message != "object") {
                alert(result.message);
                return false;
            }

            $('p.error').remove();
            $('.form-control').removeClass('error');
            for (var o in result.message) {
                var msg = result.message[o];
                var error = '<p class="error">' + msg.toString() + '</p>';
                $('#' + o).addClass('error').parent().after(error);
            }
        }, 'json');
    }

    $(function() {
        /**
         * 多文件上传工具
         */
        var Q2 = new QiniuJsSDK();
        var uploader2 = Q2.uploader({
            runtimes: 'html5,flash,html4',
            browse_button: 'pickfiles',
            container: 'container',
            drop_element: 'container',
            max_file_size: '6mb',
            flash_swf_url: '/static/www/lib/plupload/js/Moxie.swf',
            dragdrop: true,
            chunk_size: '6mb',
            uptoken_url: $('#uptoken_url').val(),
            domain: $('#domain').val(),
            auto_start: true,
            unique_names:false,
            save_key:false,
            init: {
                'BeforeUpload': function(up, file) {
                    // 每个文件上传前,处理相关的事情
                    /*图片上传加载中*/
                    var loadingImgFtp=[];
                    loadingImgFtp.push('<div class="loading-wrap">');
                    loadingImgFtp.push('    <div class="anim-loading">');
                    loadingImgFtp.push('        <i></i>');
                    loadingImgFtp.push('        <i></i>');
                    loadingImgFtp.push('        <i></i>');
                    loadingImgFtp.push('    </div>');
                    loadingImgFtp.push('    <div class="loading-txt">别着急，正在努力上传中……</div>');
                    loadingImgFtp.push('</div>');
                    if($('#loadingImgFtp').length==0){
                        popnormal({
                            //"eventEle":".js_popnormal",//点击事件元素（不定义：立即弹出）
                            "popconTpl":loadingImgFtp.join(''),
                            "popId":"loadingImgFtp"
                        });
                    }
                },
                'UploadComplete': function() {
                    //队列文件处理完毕后,处理相关的事情
                    $('#loadingImgFtp').remove();
                },
                'FileUploaded': function(up, file, info) {
                    // 每个文件上传成功后,处理相关的事情
                    var domain = up.getOption('domain');
                    var res = jQuery.parseJSON(info);

                    var info = {pid: {{ info['id'] }}, key: res['key']};
                    $.post('/product/add_image', info, function (result) {
                        if (!result) {
                            alert('远程服务器没有响应！');
                            return false;
                        }
                        if (!result.status) {
                            alert(result.message);
                            return false;
                        }
                        get_images(res['key'], result.message);
                        if(isExitsFunction('imgShow')){
                            imgShow();
                        }
                        //刷新keys input框的内容
                        refreshKeys();
                    }, 'json');

                },
                'Error': function(up, err, errTip) {
                    if (err.status == 413) {
                        poperror({
                            "popconMsg":"文件超过1M",
                            "popId":"poperror"
                        });
                    } else if (err.status==403) {
                        poperror({
                            "popconMsg":"图片文件格式错误",
                            "popId":"poperror"
                        });
                    }
                },
                'Key': function(up, file) {
                    // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                    // 该配置必须要在 unique_names: false , save_key: false 时才生效
                    var key = "";
                    // do something with key here
                    //ajax 生成key
                    $.ajax({
                        type: "GET",
                        url: $('#get_key_url').val(),
                        dataType:"json",
                        async:false,
                        success:function(result){
                            key = result['key'];
                            return key;
                        }
                    });
                    return key
                }
            }
        });


        /**
         * 刷新keys隐藏节点的值
         */
        var refreshKeys = function() {
            var keys = [];
            $("#result .cell-img img").each(function(){
                var key = $(this).attr('key');
                if (key!='') {
                    keys.push(key)
                }
            });
            $(".multiple_field_name").val(keys.join(','));
        };

        /**
         * 删除图片按钮
         */
        $(document).on('click', '.del-btn', function() {
            var image_id = $(this).attr('image_id');
            if (image_id > 0) {
                var info = {image_id: image_id};
                $.post('/product/del_image', info, function (result) {
                    if (!result) {
                        alert('远程服务器没有响应！');
                        return false;
                    }
                    if (!result.status) {
                        alert(result.message);
                        return false;
                    }
                }, 'json');
            }
            $(this).parent().parent().remove();
            refreshKeys();
        });

        var get_images = function (key, image_id) {
            if (image_id == undefined) {
                image_id = '';
            }
            // var sourceLink = domain + res.key; 获取上传成功后的文件的Url
            //AJAX 获取图片的URL
            var sourceLink = '';
            var thumbLink = '';
            var liElement = '';
            $.ajax({
                type: "GET",
                url: '/qiniu/url?key=' + key + '&size='+$("#multiple_size").val(),
                dataType:"json",
                async:false,
                success:function(result){
                    sourceLink = result['url'];
                    thumbLink = result['thumb_url'] + '?imageView2/1/w/140/h/140';
                    var cellimgH = $('.cell .btn-ftp1').outerHeight();
                    liElement = '<div class="cell">'
                            + '    <div class="cell-img" style="height:' + cellimgH + 'px">'
                            + '        <a target="_blank" href="' + sourceLink + '" class="fancybox cell_li" rel="gallery">'
                            + '            <img src="' + thumbLink + '" key="'+ key + '" />'
                            + '        </a>'
                            + '    </div>'
                            + '    <div class="cell-del">'
                            + '        <a href="javascript:;" class="del-btn" image_id="' + image_id + '">'
                            + '            <i class="ico ico-del"></i>'
                            + '                <span class="txt-del">删除</span>'
                            + '        </a>'
                            + '    </div>'
                            + '</div>';
                }
            });
            $("#result").append(liElement);
        };

        {% if product_img %}
            var all_images = [];
            {% for row in product_img %}
                all_images.push('{{ row['img_url'] }}');
                get_images('{{ row['img_url'] }}', {{ row['id'] }});

                if(isExitsFunction('imgShow')){
                    imgShow();
                }
                //刷新keys input框的内容
                refreshKeys();
            {% endfor %}
            $('#product_img').val(all_images.join(','));
        {% endif %}
    });

    $(function() {
        /**
         * 刷新keys隐藏节点的值
         */
        var refreshKeys_ckeditor = function() {
            var keys = [];
            $("#result_ckeditor img").each(function(){
                var key = $(this).attr('key');
                if (key!='') {
                    keys.push(key)
                }
            });
            $(".multiple_field_name_ckeditor").val(keys.join(','));

        };

        /**
         * 多文件上传工具
         */
        var Q2_ckeditor = new QiniuJsSDK();
        var uploader2_ckeditor = Q2_ckeditor.uploader({
            runtimes: 'html5,flash,html4',
            browse_button: 'pickfiles_ckeditor',
            container: 'container_ckeditor',
            drop_element: 'container_ckeditor',
            max_file_size: '5mb',
            flash_swf_url: '/static/www/lib/plupload/js/Moxie.swf',
            dragdrop: true,
            chunk_size: '4mb',
            uptoken_url: $('#uptoken_url').val(),
            domain: $('#domain').val(),
            auto_start: true,
            unique_names:false,
            save_key:false,
            init: {
                'BeforeUpload': function(up, file) {
                    // 每个文件上传前,处理相关的事情
                    /*图片上传加载中*/
                    var loadingImgFtp=[];
                    loadingImgFtp.push('<div class="loading-wrap">');
                    loadingImgFtp.push('    <div class="anim-loading">');
                    loadingImgFtp.push('        <i></i>');
                    loadingImgFtp.push('        <i></i>');
                    loadingImgFtp.push('        <i></i>');
                    loadingImgFtp.push('    </div>');
                    loadingImgFtp.push('    <div class="loading-txt">别着急，正在努力上传中……</div>');
                    loadingImgFtp.push('</div>');
                    if($('#loadingImgFtp').length==0){
                        popnormal({
                            //"eventEle":".js_popnormal",//点击事件元素（不定义：立即弹出）
                            "popconTpl":loadingImgFtp.join(''),
                            "popId":"loadingImgFtp"
                        });
                    }
                },
                'UploadComplete': function() {
                    //队列文件处理完毕后,处理相关的事情
                    $('#loadingImgFtp').remove();
                },
                'FileUploaded': function(up, file, info) {
                    // 每个文件上传成功后,处理相关的事情
                    var domain = up.getOption('domain');
                    var res = jQuery.parseJSON(info);
                    // var sourceLink = domain + res.key; 获取上传成功后的文件的Url
                    //AJAX 获取图片的URL
                    var sourceLink = '';
                    var thumbLink = '';
                    var liElement = '';
                    $.ajax({
                        type: "GET",
                        url: '/qiniu/url?key=' + res['key']+'&size='+$("#multiple_size_ckeditor").val(),
                        dataType:"json",
                        async:false,
                        success:function(result){
                            sourceLink = result['url'];
                            thumbLink = result['thumb_url'] + '?imageView2/2/w/600';
                            var cellimgH=$('.cell .btn-ftp1').outerHeight();
                            liElement = '<img src="' + thumbLink + '" key="' + res['key'] + '" />';
                        }
                    });
                    //$("#result_ckeditor").append(liElement);
                    $(document.getElementById('gwm_ckeditor_iframe').contentWindow.document.body).append(liElement);
                    //刷新keys input框的内容
                    refreshKeys_ckeditor();
                },
                'Error': function(up, err, errTip) {
                    if (err.status == 413) {
                        poperror({
                            "popconMsg":"文件超过1M",
                            "popId":"poperror"
                        });
                    } else if (err.status==403) {
                        poperror({
                            "popconMsg":"图片文件格式错误",
                            "popId":"poperror"
                        });
                    }
                },
                'Key': function(up, file) {
                    // 若想在前端对每个文件的key进行个性化处理，可以配置该函数
                    // 该配置必须要在 unique_names: false , save_key: false 时才生效
                    var key = "";
                    // do something with key here
                    //ajax 生成key
                    $.ajax({
                        type: "GET",
                        url: $('#get_key_url').val(),
                        dataType:"json",
                        async:false,
                        success:function(result){
                            key = result['key'];
                            return key;
                        }
                    });
                    return key
                }
            }
        });

    });

    $(function () {

        {% if product_property %}
            var attr = {}, name, value, property_id;

            {% for row in product_property %}
                name = "{{ row['name'] }}";
                if (attr[name] == undefined) {
                    attr[name] = [];
                }
                {% for one in row['value_list'] %}
                    value = "{{ one['value'] }}";
                    property_id = "{{ one['id'] }}";
                    attr[name].push({'value': value, 'property_id': property_id});
                {% endfor %}
            {% endfor %}

            for (var n in attr) {
                var index;
                var found = false;

                var find_key = function (key) {
                    $('.attr_keys').each(function () {
                        if ($(this).val() == key) {
                            found = $(this);
                            index = found.siblings("input").last().val();
                            return found;
                        }
                    });
                };

                found = find_key(n);
                if (!found) {
                    index = product_add_attr();
                    found = $('#attr_' + index + '_key');
                    found.val(n);
                }

                for (var obj in attr[n]) {
                    var ppt = attr[n][obj];
                    var html = '<div class="sel_checkbox_li cur">' + ppt['value']
                            + '<span class="h0hidden"><input type="checkbox" value="' + ppt['value']
                            + '" checked="checked" property_id="' + ppt['property_id']
                            + '" name="attr[' + index + '][list]"></span></div>';
                    found.parents('li').find('.sel_checkbox').append(html);
                }
            }
        {% endif %}
    });
</script>

{% include "admin_shared/after_footer.html" %}

</body>
</html>
