<!DOCTYPE html>
<html>
<head>
    <title>店铺管理</title>
    {% include "admin_shared/before_header.html"  %}
</head>
<body>

{% include "admin_shared/header.html"  %}

<!-- page-main start -->
<div class="page-main full body_bg">
    <div class="wrap">
        <div class="revenum-wrap clearfix">

            {% include "admin_shared/left.html"  %}

            <!-- main right start -->
            <div class="main">
                <div class="dity-manage-wrap">
                    <div class="dity-manage-guide">
                        <div class="l-guide-txt">
                            <div class="l-guide-con">
                                欢迎登录
                                <span class="l-ml">
                                    <i class="ico ico-shop-cart"></i>
                                </span>
                                跟我买&nbsp;&nbsp;后台！
                                <span class="l-orange">祝您生意兴隆！</span>
                            </div>
                        </div>
                    </div>
                    <div class="dity-generate">
                        <div class="generate-title">您的店铺已经生成：</div>
                        <div class="dity-data clearfix">
                            <div class="dity-img">
                                <a class="user-img" href="/login/edit" target="_blank">
                                    <img src="http://{{ public }}/{{ info['logo'] }}?imageView2/1/w/147/h/100" width="147" height="100" />
                                </a>
                            </div>
                            <div class="dity-txt">
                                <div class="l-name-english">{{ info['name'] }}</div>
                                <div class="l-name"></div>
                                <div class="l-modify">
                                    <a class="btn btn-s2 btn-orange2" target="_blank" href="/login/edit">修改</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dity-generate">
                        <div class="generate-title">您的店铺专属二维码卡片：</div>
                        <div class="l-ewm-card clearfix">
                            <img src="/shop_qr?shop_id={{ info['id'] }}&v=1" width="791" height="255" />
                        </div>
                        <div class="l-print">
                            <span class="l-print-title">
                                提示：打印二维码卡片。发给您的每一位买家。即可组建强大的分销渠道。
                            </span>
                            <div class="l-click-print">
                                <a class="btn btn-m1 btn-black" target="_blank" href="/shop_qr?shop_id={{ info['id'] }}&download=1&v=1">下载二维码卡片</a>
                            </div>
                        </div>
                    </div>
                    <div class="dity-generate">
                        <div class="generate-title">您也可以直接使用店铺专属推广链接：</div>
                        <div class="l-copy-link">
                            <div class="l-link-con">
                                <span class="l-orange">{{ info['name'] }}</span>  邀请您成为我们的代言人，坐收代言费！！
                                <div class="l-link">
                                    http://{{ domain_wx }}/endorse/shop-{{ info['id'] }}{{ wechat_ns }}
                                </div>
                                <div id="copy_text" style="width: 0;height: 0;overflow: hidden;text-indent: -9999px;">
                                    {{ info['name'] }} 邀请您成为我们的代言人，坐收代言费！！ http://{{ domain_wx }}/endorse/shop-{{ info['id'] }}{{ wechat_ns }}
                                </div>
                            </div>
                            <div class="l-copy-site">
                                <input data-clipboard-action="copy" data-clipboard-target="#copy_text" class="btn btn-l2 btn-black copy_clipboard" type="button" value="复制该内容，推荐给任何对您产品感兴趣的人" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main right end -->
        </div>
    </div>
</div>
<!-- page-main end -->


{% include "admin_shared/footer.html"  %}

<script src="/static/www/lib/js/clipboard.min.js"></script>
<script>
    var clipboard = new Clipboard('.copy_clipboard');
    clipboard.on('success', function(e) {
        e.clearSelection();
        alert('复制成功');
    });
    clipboard.on('error', function(e) {
        prompt('按Ctrl+C复制', $('#copy_text').text());
    });
</script>

{% include "admin_shared/after_footer.html"  %}

</body>
</html>