<!DOCTYPE html>
<html>
<head>
    <title>品牌登录</title>
    {% include "index_shared/before_header.html"  %}
    <link rel="stylesheet" href="/static/www/pc/v1/css/publish_position.css"/>
</head>
<body>

{% include "index_shared/header.html"  %}

<!-- page-main start -->
<div class="page-main full">
    <div class="wrap">
        <div class="publish-wrap">
            <div class="l-login">
                <div class="login-guide">
                    <div class="l-guide-txt">
                        当前只有申请通过的品牌商才能登录，如没有账号请先
                        <a class="l-orange" href="/join">申请入驻 >></a>
                    </div>
                </div>
                <!-- 登录表单 start-->
                <div class="login-list">
                    <form action="/login" id="submit_form" ajaxUrl="/login" method="post">
                        <div class="pulish-form">
                            <ul class="form-list1">
                                <li class="li">
                                    <label class="lab-title">
                                        <span class="validate-title">登录账号：</span>
                                        <span class="title-tips">请输入手机号码</span>
                                    </label>
                                    <div class="ele-wrap">
                                        <input class="form-control js_validate" placeholder="" id="username" name="username" type="text" value=""  autocomplete="off" />
                                    </div>
                                </li>
                                <li class="li">
                                    <label class="lab-title">
                                        <span class="validate-title">登录密码：</span>
                                        <span class="title-tips">首次登录请直接设置密码即可</span>
                                    </label>
                                    <div class="ele-wrap">
                                        <input class="form-control js_validate" placeholder="" id="password" name="password" type="password" value=""  autocomplete="off" />
                                    </div>
                                </li>
                            </ul>
                            <div class="l-remember">
                                <div class="remember-me">
                                    <label class="proxyinput proxy-checkbox">
                                        <span class="h0hidden"><input type="checkbox" id="remember" name="remember" checked="checked" value="1" /></span>记住我
                                    </label>
                                </div>
                            </div>
                            <div class="l-submit">
                                <input onclick="on_submit()" class="btn btn-m3 btn-l4 btn-black" type="button" value="提&nbsp;&nbsp;&nbsp;&nbsp;交">
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 登录表单 end-->
            </div>
        </div>
    </div>
</div>
<!-- page-main end -->

{% include "index_shared/footer.html"  %}

<script type="text/javascript">
    //ajax 表单验证
    //serviceValidateFun('#publish_form');

    function on_submit() {
        $.post($('#submit_form').attr('action'), $('#submit_form').serialize(), function (result) {
            if (!result) {
                alert('远程服务器没有响应，请稍后再试！');
                return false;
            }

            if (result.status) {
                window.location = result.message;
                return false;
            }

            if (typeof result.message != "object") {
                alert(result.message);
            }

            $('.error').remove();
            for (var o in result.message) {
                var msg = result.message[o];
                var error = '<p class="error">' + msg.toString() + '</p>';
                $('#' + o).after(error);
            }
        }, 'json');
    }
</script>

{% include "index_shared/after_footer.html"  %}

</body>
</html>