<!-- 左边导航 start -->
<div class="nav-left">
    <ul class="nav-list">
        <li class="li">
            <a class="nav-one {% if current_page == 'shop' %} cur {% endif %}" href="/shop">店铺管理</a>
        </li>
        <li class="li has-child {% if 'product' in current_page %} down {% endif %}">
            <a class="nav-one" href="javascript:;" onclick="window.location='/product'">商品管理</a>
            <div class="nav-two">
                <a class="commodity {% if current_page == 'product' %} cur {% endif %}" href="/product">出售的商品</a>
                <a class="commodity {% if current_page == 'product_add' %} cur {% endif %}" target="_blank" href="/product/add">发布新商品</a>
                <a class="commodity {% if current_page == 'product_down' %} cur {% endif %}" href="/product/down">下架的商品</a>
            </div>
        </li>
        <li class="li">
            <a class="nav-one {% if current_page == 'order' %} cur {% endif %}" href="/order">订单管理</a>
        </li>
        <li class="li">
            <a class="nav-one {% if current_page == 'counter' %} cur {% endif %}" href="/counter">数据统计</a>
        </li>
        {% if 'is_sub' in session and session['is_sub'] == 1 %}
        {% else %}
            <li class="li">
                <a class="nav-one {% if current_page == 'income' %} cur {% endif %}" href="/income">收入提现</a>
            </li>
        {% endif %}
        <li class="li has-child {% if 'account' in current_page %} down {% endif %}">
            <a class="nav-one" href="javascript:;" onclick="window.location='/account/password'">账号管理</a>
            <div class="nav-two">
                <a class="commodity {% if current_page == 'account_password' %} cur {% endif %}" href="/account/password">修改密码</a>
                {% if 'is_sub' in session and session['is_sub'] == 1 %}
                {% else %}
                    <a class="commodity {% if current_page == 'account_sub' %} cur {% endif %}" href="/account/sub">子账号</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
<!-- 左边导航 end -->
