
    <!--ly ft -->
    <div class="ft2">
        <div class="w02">
            <p>Copyright © 2016 - 2017 沪ICP备17006507号</p>
        </div>
    </div>
    <!-- ft -->

    <!-----blackbg------>
    <div class="ly-blabg" style="display: none" id="pop_alert">
        <div class="blabg"></div>
        <div class="aleart">
            <div class="aleart-title">
                提示<p onclick="$('.ly-blabg').hide()" class="wrong"></p>
            </div>
            <ul class="mar">
                <li class="lia">
                    <img src="/static/www/images/gt-bg.png" />
                    <span>提示信息</span>
                </li>
            </ul>
            <p><a href="javascript:void(0)" onclick="$('#pop_alert').hide()">确定</a></p>
        </div>
    </div>
    <div class="ly-blabg" style="display: none" id="pop_loading">
        <div class="blabg"></div>
        <div class="aleart" style="height: 150px">
            <div class="aleart-title"></div>
            <ul class="mar">
                <li class="lia">
                    <img src="/static/www/images/ICON/loading.gif" />
                    <span>正在进行...</span>
                </li>
            </ul>
        </div>
    </div>
    <!-----blackbg------->

</div>


<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
<script type="text/javascript">
    function alert_message(message, callback) {
        $('#pop_alert span').html(message);
        $('#pop_alert').show();
        if (callback != undefined) {
            $('#pop_alert a').one('click', function () {
                return callback();
            });
        }
    }
    function alert_loading(message, callback) {
        $('#pop_loading span').html(message);
        $('#pop_loading').show();
        if (callback != undefined) {
            callback();
        }
    }
    function close_loading() {
        $('#pop_loading').hide();
    }
    function getLocation() {
        var options = {
            enableHighAccuracy : true,
            maximumAge : 1000
        };
        alert('this is getLocation()');
        if (navigator.geolocation) {
            //浏览器支持geolocation
            navigator.geolocation.getCurrentPosition(onSuccess, onError, options);
        } else {
            //浏览器不支持geolocation
            alert('您的浏览器不支持地理位置定位');
        }
    }
    //成功时
    function onSuccess(position) {
        //返回用户位置
        //经度
        var longitude = position.coords.longitude;
        //纬度
        var latitude = position.coords.latitude;
        alert('当前地址的经纬度：经度' + longitude + '，纬度' + latitude);
        //根据经纬度获取地理位置，不太准确，获取城市区域还是可以的
        var map = new BMap.Map("allmap");
        var point = new BMap.Point(longitude, latitude);
        var gc = new BMap.Geocoder();
        gc.getLocation(point, function(rs) {
            var addComp = rs.addressComponents;
            alert(addComp.province + ", " + addComp.city + ", "+ addComp.district + ", " + addComp.street + ", "+ addComp.streetNumber);
        });
        // 这里后面可以写你的后续操作了
        //postData(longitude, latitude);
    }
    //失败时
    function onError(error) {
        switch (error.code) {
            case 1:
                alert("位置服务被拒绝");
                break;
            case 2:
                alert("暂时获取不到位置信息");
                break;
            case 3:
                alert("获取信息超时");
                break;
            case 4:
                alert("未知错误");
                break;
        }
        // 这里后面可以写你的后续操作了
        //经度
        var longitude = 23.1823780000;
        //纬度
        var latitude = 113.4233310000;
        //postData(longitude, latitude);
    }
    // 页面载入时请求获取当前地理位置
    window.onload = function(){
        // html5获取地理位置
        //getLocation();
    };

</script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?e3f9994d31af70476869c7928d48c441";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

