<div class="container">
    <!-- hd -->
    <div class="hd clearfix">
        <div class="w1000">
            <h1 class="logo">
                <a href="#" style="float: left">
                    <img src="/static/www/images/logo.png" alt="" />
                </a>
                <a class="text">
                    好空气网
                </a>
            </h1>
            <ul class="nav fl">
                <li class="{{ 'red-current' if current_page == 'index' }}"><a href="/">实时天气</a></li>
                <li class="{{ 'red-current' if current_page == 'data' }}"><a href="/data">数据中心</a></li>
                <li class="{{ 'red-current' if current_page == 'report' }}"><a href="/report">分析报表</a></li>
                <li class="{{ 'red-current' if current_page == 'learn' }}"><a href="/learn">空气预测</a></li>
                <li class="{{ 'red-current' if current_page == 'map' }}"><a href="/map">污染地图</a></li>
                <li class="{{ 'red-current' if current_page == 'api' }}"><a href="/api">开放平台</a></li>
            </ul>
            <ul class="deng">
                <li class="aa">上海</li>
                <li><a href="/city">切换城市</a></li>

            </ul>
        </div>
    </div>
    <!--/ hd -->

