<div class="container">
    <!-- hd -->
    <div class="hd clearfix">
        <div class="w1000">
            <h1 class="logo">
                <a href="#" style="float: left">
                    <img src="/static/www/images/logo.png" alt="" />
                </a>
                <a style="text-align: right; display: block; width: 210px; padding: 15px 0 0 10px; font-size: 32px;color: green; font-family: 'Open Sans', 'Helvetica Neue', Helvetica,Arial,sans-serif;">
                    好空气网
                </a>
            </h1>
            <ul class="nav fl">
                <li class="current"><a href="/">首页</a></li>
            </ul>
            <ul class="deng">
                <li class="aa">上海</li>
                <li><a href="/city.html">切换城市</a></li>

            </ul>
        </div>
    </div>
    <!--/ hd -->

    <!------banner--------->
    <div id="banner" class="yd-banner">
        <div class="bg">
            <span><img src="/static/www/images/yd-banner006.png" /></span>
        </div>

