<div class="container">
    <!-- hd -->
    <div class="hd clearfix">
        <div class="w1000">
            <h1 class="logo">
                <a href="#" style="float: left">
                    <img src="/static/www/images/logo.png" alt="" />
                </a>
                <a class="text">
                    好空气网
                </a>
            </h1>
            <ul class="nav fl">
                <li class="red-current"><a href="/">首页</a></li>
                <li class=""><a href="/">实时天气</a></li>
                <li class=""><a href="/">数据中心</a></li>
                <li class=""><a href="/">分析报表</a></li>
                <li class=""><a href="/">空气预测</a></li>
                <li class=""><a href="/">污染地图</a></li>
            </ul>
            <ul class="deng">
                <li class="aa">上海</li>
                <li><a href="/city">切换城市</a></li>

            </ul>
        </div>
    </div>
    <!--/ hd -->

