<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>好空气网</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/www/css/union.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
    <script type="text/javascript" src="/static/www/js/laydate/laydate.js"></script>
</head>

<body style="overflow:scroll;overflow-x:hidden">

{% include "header.html" %}

<!------banner-------->
<div id="ly" >
    <div class="ly-banner">
        <h1 class="aa">提供海量精美模板</h1>
        <p class="bb">让你轻松打造属于自己的APP炫酷网站</p>
        <ul>
            <a href="#"> <li class="cc">PC网站</li></a>
            <a href="#"><li class="dd">手机网站</li></a>
        </ul>
    </div>
</div>
<!------banner----->

<!------nav-------->
<div id="ly-nav" style="display:none;">
    <span class="aa"> <img src="images/171nav01.gif" /></span>
    <span class="bb"><img src="images/171nav02.gif" / ></span>
</div>

<!------nav--------->

<!------con-------->
<div id="ly-conbg">
    <h1>设计师用心制作</h1>
    <p>THE DESIGNER MADE BY HEART</p>
    <div id="ly-con">
        <div class="search">
            <form>
                <input class="in1" type="text" placeholder="请输入模板编号"/>
            </form>
            <span class="btn"><input type="submit" value="搜索" /></span>
        </div>
        <span class="sorry">抱歉，我们未搜到模板编号：<span>007</span></span>
        <span class="same">相似模板</span>
        <div class="pic">
            <dl class="aa">
                <dd><img  src="images/pic-001.gif" /></dd>
                <dt>编号：001<span class="bb">免费</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"> <span class="cc">预览</span></a>
                    <a href="javascript:void(0)"> <span class="dd">下载</span></a>
                </div>
            </dl>
            <dl class="aa">
                <dd><img  src="images/pic-001.gif" /></dd>
                <dt>编号：001<span class="bb">免费</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"> <span class="cc">预览</span></a>
                    <a href="javascript:void(0)"> <span class="dd">下载</span></a>
                </div>
            </dl>
            <dl class="aa">
                <dd><img  src="images/pic-001.gif" /></dd>
                <dt>编号：001<span class="bb">免费</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"> <span class="cc">预览</span></a>
                    <a href="javascript:void(0)"> <span class="dd">下载</span></a>
                </div>
            </dl>
            <dl class="aa">
                <dd><img  src="images/pic-001.gif" /></dd>
                <dt>编号：001<span class="bb">免费</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"> <span class="cc">预览</span></a>
                    <a href="javascript:void(0)"> <span class="dd">下载</span></a>
                </div>
            </dl>

            <dl class="aa">
                <dd><img src="images/pic-002.gif" /></dd>
                <dt>编号：002<span class="cc">会员专享</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"><span class="cc">预览</span></a>
                    <a href="javascript:void(0)"><span class="dd">下载</span></a>
                </div>
            </dl>
            <dl class="aa">
                <dd><img src="images/pic-002.gif" /></dd>
                <dt>编号：002<span class="cc">会员专享</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"><span class="cc">预览</span></a>
                    <a href="javascript:void(0)"><span class="dd">下载</span></a>
                </div>
            </dl>

            <dl class="aa">
                <dd><img src="images/pic-002.gif" /></dd>
                <dt>编号：002<span class="cc">会员专享</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"><span class="cc">预览</span></a>
                    <a href="javascript:void(0)"><span class="dd">下载</span></a>
                </div>
            </dl>

            <dl class="aa">
                <dd><img src="images/pic-002.gif" /></dd>
                <dt>编号：002<span class="cc">会员专享</span></dt>
                <div class="black">
                    <span class="bg"></span>
                    <a href="javascript:void(0)"><span class="cc">预览</span></a>
                    <a href="javascript:void(0)"><span class="dd">下载</span></a>
                </div>
            </dl>
        </div>
    </div>

    <ul class="num">
        <li class="aa"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">2</a></li>
    </ul>
</div>

{% include "footer.html" %}

</body>
</html>
