<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
</head>

<body  style="overflow:-Scroll;overflow-x:hidden">
<div class="container">
    <!-- hd -->
    <div class="hd clearfix">
        <div class="w1000">
            <h1 class="logo"><a href="#"><img src="/static/www/images/logo.png" /></a></h1>
            <ul class="nav fl">
                <li class="current"><a href="#">首页</a></li>
                <li class="lyrefresh"><a href="javascript:void(0">版本更新</a></li>
                <li class="no-line2"><a href="javascript:void(0)">赚钱联盟</a></li>
                <li class="no-line"><a href="#" class="top-down">点击下载</a></li>
            </ul>

            <!--<p class="fr sub-nav"><a>申请助手</a> <a>申请拿包</a> <a>常见问题</a> <a class="no-line">关于我们</a></p>-->
            <ul class="help">
                <li><a href="javascript:void(0)">申请助手</a></li>

                <li><a href="javascript:void(0)">论坛</a></li>
            </ul>
            <ul class="deng" style="display:none;">
                <li class="aa"><a href="javascript:void(0)">用户名</a></li>
                <li><a href="javascript:void(0)">退出</a></li>

            </ul>
            <p style="display:none;"><a href="#">开通会员</a></p>

            <ul class="deng" >
                <li class="aa"><a href="javascript:void(0)">会员名</a></li>
                <li><a href="javascript:void(0)">退出</a></li>

            </ul>
            <a class="vi" href="#">开通会员</a>

        </div>
    </div>
    <!--/ hd -->
    <!------banner--------->
    <div id="banner" class="yd-banner">

        <div class="bg">
            <span><img src="/static/www/images/yd-banner006.png" /></span>
        </div>

        <div id="ly-con4">

            <ul class="inf">
                <a href="javascript:void(0)"><li class="d5">我<br>的<br>会<br>员<br><span></span></li></a>
                <a href="javascript:void(0)"><li class="d6">我<br>的<br>模<br>板<br><span></span></li></a>
                <a href="javascript:void(0)"><li class="d4">我<br>的<br>助<br>手<br><span></span></li></a>
                <a href="javascript:void(0)"><li class="d3">账<br>户<br>信<br>息<br><span></span></li></a>
            </ul>

            <div class="right">

                <div class="cen4">
                    <ul class="ul1">
                        <li class="li1">VIP会员</li>
                        <li>会员名1651651651513651656</li>
                        <li><span class="sp1">199元</span> <span class="s3"></span> <span class="sp2">年</span><span class="s4">会员2016-02-05到期</span></li>
                        <a class="li4" href="#"><li>续费会员</li></a>
                    </ul>

                    <ul class="ul2">
                        <li>敬请期待</li>
                    </ul>

                    <div>
                        <table border="1" align="center" style="border:none;">
                            <tr style="background:#fafafa;"><th class="yd-td01">应用名称</th><th>会员特权</th><th>171CMS会员</th></tr>
                            <tr><td class="yd-td01">添加外链APK链接</td><td class="yd-td02">可以添加外部的APK链接地址，减少服务器压力，减少投入成本</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">去除友链</td><td class="yd-td02">可以一键安装去除模板自带的友情链接，方便自己操作</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">快速申请助手</td><td class="yd-td02">申请助手优先服务，最快1-3小时给你打包一个客户端</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">助手信息修改</td><td class="yd-td02">修改助手的logo，启动界面，修改次数可达3次</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">助手统计</td><td class="yd-td02">后台展示助手安装统计详细数据</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">模板使用</td><td class="yd-td02">精美模板、个性模板、模板选择多、可供下载使用。</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">URL自定义</td><td class="yd-td02">敬请期待</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">异地登陆短信通知</td><td class="yd-td02">不同IP登录，我们会以短信形式通知，确保账户安全。</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">客服一对一</td><td class="yd-td02">客服一对一帮你解决建站中的遇到的问题</td><td class="yd-td03"></td></tr>
                            <tr><td class="yd-td01">安装指导</td><td class="yd-td02">免费安装指导一次，可提供远程帮您安装，搭建整个网站成功！</td><td class="yd-td03"></td></tr>
                        </table>

                        <p class="content-p">
                            <span>说明</span> <br />
                            1. 为站点开通VIP会员服务，指是的网站主体是“个人”， 请网站主体为“公司”的企业用户与我们的售前客服联系。<a href="#">vfds</a><br />
                            2. 申请助手1-3小时快速通道服务，是指在工作日时间内。<br />
                        </p>

                    </div>
                </div>


            </div>


        </div>
    </div>

    <!------banner--------->
    <!--ly ft -->
    <div class="ft2">
        <div class="w02">
            <ul class="ful1">
                <li class="fli1">帮助指导</li>
                <li>新手安装指导</li>
                <li>常见问题</li>
            </ul>
            <ul class="ful2">
                <li class="fli1">标签手册</li>
                <li>模板标签手册</li>
                <li>171CMS助手手册</li>
                <li>171CMS用户手册</li>
            </ul>
            <ul class="ful3">
                <li class="fli1">关于我们</li>
                <li>商务合作</li>
                <li>资质证书</li>
                <li>协议声明</li>
            </ul>
            <ul class="ful4">
                <li class="fli1">联系我们</li>
                <li class="yd-qq"><span>(VIP)</span>&nbsp;&nbsp;<a href="#">3035597168</a></li>
                <li class="yd-qq2">&nbsp;&nbsp;<a href="#">476060877</a></li>
                <li>微信公众号：171CMS</li>
            </ul>

            <p>Copyright © 2014 - 2015 45Kcms. 上海汉游网络科技有限公司版权所有. 站长统计</p>
        </div>
    </div>
    <!-- ft -->


</div>

</body>
</html>
