<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>好空气网</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/www/css/union.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
    <script type="text/javascript" src="/static/www/js/laydate/laydate.js"></script>
</head>

<body style="overflow:scroll;overflow-x:hidden">

{% include "header.html" %}

<!------banner-------->
<div id="ly">
    <div class="ly-banner">
        <div class="cityinfo">
            <h1 class="bb">上海</h1>
            <p class="cc">20 : 00 发布</p>
            <span class="wethericon liang">空气良 51</span>
        </div>

        <div class="wetherdetail">
            <p class="aa"><strong>7°</strong>阵雨</p>
            <ul>
                <li><i class="icon-shi"></i>湿度 <span id="humidity">83</span>%</li>
                <li class="txt-r">
                    <i class="icon-feng"></i>
                    <span id="winddir">西北风</span>
                    <span id="windpower">2级</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!------banner----->

<!------con-------->
<div id="ly-conbg" style="background: #0aba86;">
    <div id="ly-con">
        <span class="same">近期天气</span>
        <div class="morewether">
            <ul id="foreast">
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
                <li>
                    <p class="colora">今天 2月22日</p>
                    <p class="icon-tu"><i class="icon-xiaoyu"></i><br>小雨</p>
                    <p class="otherinfo"><span>2~11°</span>3-4 级</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% include "footer.html" %}

</body>
</html>
