<!-- footer start -->
<div class="clear"></div>
<div class="footer-wrap">
    <div class="footer full">
        <div class="wrap">
            <div class="footer-con">
                <div class="footer-txt">
                    <p>咨询电话：400-619-3360</p>
                    <p>
                        公司地址：上海市黄浦区延安东路700号港泰大厦1001-1003室（200001） Add
                    </p>
                    <p>
                        Address ：Room.1001-1003, Gangtai Plaza No.700, Yan'an East Rd.,Huangpu Shanghai, China
                    </p>
                </div>
                <div class="copyright">
                    沪ICP备  16070727号   |    若信信息科技（上海）有限公司
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- footer end -->

<!-- 点击回到顶部 start -->
<div class="l-click-top js_go_top hidden">
    <a class="l-top" href="javascript:;">
    </a>
</div>
<!-- 点击回到顶部 end-->
