<!DOCTYPE html>
<html>
<head>
    <title>订单管理</title>
    {% include "admin_shared/before_header.html" %}
</head>
<body>

{% include "admin_shared/header.html" %}

<!-- page-main start -->
<div class="page-main full body_bg">
    <div class="wrap">
        <div class="revenum-wrap clearfix">

            {% include "admin_shared/left.html"  %}

            <!-- main right start -->
            <div class="main">
                <div class="order-wrap">
                    <!-- 订单信息 start -->
                    <div class="l-order-data">
                        <form id="search_submit" name="search_submit" class="form-horizontal" method="get" action="/order">
                            <span onclick="$('#search_submit').submit()" class="l-search"><i class="ico ico-search"></i></span>
                            <ul class="form-list2 clearfix">
                                <li class="li li-query">
                                    <div class="ele-wrap">
                                        <input class="form-control js_validate" placeholder="查询订单号" id="code" name="code" type="text" value="{{ code }}" autocomplete="off" />
                                    </div>
                                </li>
                                <li class="li">
                                    <label class="lab-title">
                                        <span class="validate-title">买家信息：</span>
                                    </label>
                                    <div class="ele-wrap">
                                        <input class="form-control js_validate" placeholder="买家姓名或手机号" id="buyer" name="buyer" type="text" value="{{ buyer }}" autocomplete="off" />
                                    </div>
                                </li>
                                <li class="li">
                                    <label class="lab-title">
                                        <span class="validate-title">商品标题：</span>
                                    </label>
                                    <div class="ele-wrap">
                                        <input class="form-control js_validate" placeholder="输入关键词" id="name" name="name" type="text" value="{{ name }}" autocomplete="off" />
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <!-- 订单信息 end-->
                    <!-- 订单详情 start -->
                    <div class="l-order-detail">
                        <div class="l-detail-hd">
                            <div class="l-wp l-wp1"><span>订单商品明细</span></div>
                            <div class="l-wp l-wp2"><span>买家收货地址</span></div>
                            <div class="l-wp l-wp3"><span>操作</span></div>
                        </div>
                        <ul class="l-order-list evenParent" even_cell="li">
                            {% if info and info['items'] %}
                                {% for value in info['items'] %}
                                    <li class="l-order-content">
                                        <input type="hidden" class="oid" name="oid" value="{{ value['order']['id'] }}" />
                                        {% for row in value['order_items'] %}
                                            <div class="l-order-con-top clearfix">
                                                <div class="l-order-left clearfix">
                                                    <a class="l-modity" href="/product/edit?pid={{ row['product_id'] }}" target="_blank">
                                                        {% if row['img_url'] %}
                                                            <img src="http://{{ public }}/{{ row['img_url'] }}?imageView2/1/w/168/h/98" width="168" height="98" />
                                                        {% else %}
                                                            <img src="/static/www/pc/v1/images/manage/commodity_img.png" />
                                                        {% endif %}
                                                    </a>
                                                    <div class="l-modity-con">
                                                        <div class="l-con-tet">{{ row['product_name'] }}</div>
                                                        <div class="l-orange">数量： {{ row['num'] }}</div>
                                                        <div class="l-orange">属性：
                                                            {% for k, v in row['product_property'].items() %}
                                                                {{ v }}
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="l-buy-people">
                                                    <span>{{ value['order']['rec_name'] }}</span>
                                                    <span>{{ value['order']['rec_phone'] }}</span>
                                                    <span class="l-buy-address">{{ value['order']['rec_address'] }}</span>
                                                </div>
                                                <div class="l-operation">
                                                    {% if value['order']['order_status'] == 0 %}
                                                        {% if value['order']['goods_status'] == 0 %}
                                                            {% if value['order']['pay_status'] == 1 %}
                                                                <div class="l-operation-btn">
                                                                    <input class="btn btn-s2 btn-black btn_deliver_order" type="button" value="发货" />
                                                                </div>
                                                            {% endif %}
                                                            <div class="l-operation-btn">
                                                                <input class="btn btn-s2 btn-black btn_cancel_order" type="button" value="关闭订单" />
                                                            </div>
                                                        {% else %}
                                                            <div class="l-operation-btn">
                                                                <input class="btn btn-s3 btn-orange2 btn_express_order" type="button" value="物流信息" />
                                                            </div>
                                                        {% endif %}
                                                    {% else %}
                                                        <span>订单关闭</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endfor %}

                                        <div class="l-order-complete">
                                            <span class="l-complete-txt">
                                                订单号：{{ value['order']['order_code'] }}
                                            </span>
                                            <span class="l-complete-txt">
                                                创建：{{ value['order']['create_time'] }}
                                            </span>
                                            <span class="l-complete-txt">
                                                付款：
                                                {% if value['order']['pay_status'] == 0 %}
                                                    无
                                                {% elif value['order']['pay_status'] == 1 %}
                                                    {{ value['order']['pay_time'] }}
                                                {% endif %}
                                            </span>
                                            <span class="l-orange">
                                                当前状态：
                                                {% if value['order']['pay_status'] == 1 %}
                                                    {% if value['order']['goods_status'] == 0 %}
                                                        已付款
                                                    {% elif value['order']['goods_status'] == 1 %}
                                                        已发货
                                                    {% elif value['order']['goods_status'] == 2 %}
                                                        已收货
                                                    {% elif value['order']['goods_status'] == 3 %}
                                                        退货中
                                                    {% elif value['order']['goods_status'] == 4 %}
                                                        已退货
                                                    {% endif %}
                                                {% else %}
                                                    未付款
                                                {% endif %}
                                            </span>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <!-- 订单详情 end -->

                    {% if info['pages'] > 0 %}
                        <!-- pages_tab -->
                        <div class="pages_tab">
                            {% if info['has_prev'] %}
                                <a href="/order?code={{ code }}&buyer={{ buyer }}&name={{ name }}&page={{ info['prev_num'] }}" class="p_prev"><span>上一页</span></a>
                            {% endif %}
                            <div class="pages-tab">
                                {% for p in range(1, info['pages'] + 1) %}
                                    {% if p == page %}
                                        <a href="/order?code={{ code }}&buyer={{ buyer }}&name={{ name }}&page={{ p }}" class="cur"><span>{{ p }}</span></a>
                                    {% else %}
                                        <a href="/order?code={{ code }}&buyer={{ buyer }}&name={{ name }}&page={{ p }}"><span>{{ p }}</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if info['has_next'] %}
                                <a href="/order?code={{ code }}&buyer={{ buyer }}&name={{ name }}&page={{ info['next_num'] }}" class="p_next"><span>下一页</span></a>
                            {% endif %}
                            <span class="page-number">共{{ info['pages'] }}页</span>
                        </div>
                        <!-- pages_tab end-->
                    {% endif %}

                </div>
            </div>
            <!-- main right end -->
        </div>
    </div>
</div>
<!-- page-main end -->

{% include "admin_shared/footer.html"  %}

{% include "admin_shared/after_footer.html" %}

<!-- 弹层 关闭订单-->
<div id="pop_cancel_order" class="hidden">
    <div class="">
        <div class="l-cancel_order">
            <form action="/order/close" method="post" ajaxUrl="/order/close">
                <ul class="form-list1">
                    <li class="li">
                        <div class="ele-wrap">
                            <textarea class="form-control order_reason" name="close_reason" placeholder="请输入关闭理由："></textarea>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    popnormal({
        "popTplId":"#pop_cancel_order",//内容模板id
        "eventEle":".btn_cancel_order",//点击事件元素（不定义：立即弹出）
        "popId":"popnormal1",//弹出层id 默认为popnormal,（可自定义）
        "headTitle":"操作提示",//普通标题
        "popAction":[{
            "actionTxt": "提    交",
            "actionId": "ok_close_order",
            "actionColse":false
        }],//按钮区 actionColse=false 取消自带点击关闭层
        "popCallbackFun":function(args,TfThis){//popCallbackFun 可选项
            var curpopid = "#" + args.popId;
            $(curpopid + " #ok_close_order").on('click', function(event) {
                //关闭层做的操作
                var oid = args.eventEle.parents('li').find('.oid').val();
                var reason = $(curpopid + ' .order_reason').val();
                if (!reason) {
                    alert('请输入关闭订单的原因');
                    return false;
                }
                $.post('/order/close', {oid: oid, reason: reason}, function (result) {
                    if (!result) {
                        alert('远程服务器没有响应');
                        return false;
                    }
                    if (!result.status) {
                        alert(result.message);
                        return false;
                    } else {
                        location.reload();
                    }
                }, 'json');
            });
        }
    });
</script>

<!-- 弹层 发货-->
<div id="pop_order_delivery" class="hidden">
    <div class="">
        <div class="l-pop-delivery">
            <form action="/order/deliver" id="order_deliver_form" ajaxUrl="/order/deliver">
                <ul class="form-list2">
                    <li class="li">
                        <label class="lab-title">
                            <span class="validate-title">快递公司名称：</span>
                        </label>
                        <div class="ele-wrap">
                            <input class="form-control js_validate express_type" placeholder="" name="express_type" type="text" value="" initval="" autocomplete="off" />
                        </div>
                    </li>
                    <li class="li">
                        <label class="lab-title">
                            <span class="validate-title">物流单号：</span>
                        </label>
                        <div class="ele-wrap">
                            <input class="form-control js_validate express_code" placeholder="" name="express_code" type="text" value="" initval="" autocomplete="off" />
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    popnormal({
        "popTplId":"#pop_order_delivery",//内容模板id
        "eventEle":".btn_deliver_order",//点击事件元素（不定义：立即弹出）
        "popId":"popnormal3",//弹出层id 默认为popnormal,（可自定义）
        "headTitle":"操作提示",//普通标题
        "popAction":[{
            "actionTxt": "通知买家已发货了",
            "actionId":"ok_deliver_order",
            "actionColse":false
        }],//按钮区 actionColse=false 取消自带点击关闭层
        "popCallbackFun":function(args, TfThis){//popCallbackFun 可选项
            var curpopid = "#" + args.popId;
            $(curpopid + " #ok_deliver_order").on('click', function(event) {
                //关闭层做的操作
                var oid = args.eventEle.parents('li').find('.oid').val();
                var express_type = $(curpopid + ' .express_type').val();
                var express_code = $(curpopid + ' .express_code').val();
                if (!express_type || !express_code) {
                    alert('请输入物流信息');
                    return false;
                }
                $.post('/order/deliver', {oid: oid, express_type: express_type, express_code: express_code}, function (result) {
                    if (!result) {
                        alert('远程服务器没有响应');
                        return false;
                    }
                    if (!result.status) {
                        alert(result.message);
                        return false;
                    } else {
                        location.reload();
                    }
                }, 'json');
            });
        }
    });
</script>

<!-- 弹层 物流信息-->
<div id="pop_fast_mail" class="hidden">
    <div class="">
        <div class="l-pop-delivery l-fast-mail">
            <form action="/order/express" id="express_form" ajaxUrl="/order/express">
                <ul class="form-list2">
                    <li class="li">
                        <label class="lab-title">
                            <span class="validate-title">快递公司名称：</span>
                        </label>
                        <div class="ele-wrap">
                            <span class="l-fast-con express_type"></span>
                        </div>
                    </li>
                    <li class="li">
                        <label class="lab-title">
                            <span class="validate-title">物流单号：</span>
                        </label>
                        <div class="ele-wrap">
                            <span class="l-fast-con express_code"></span>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    popnormal({
        "popTplId":"#pop_fast_mail",//内容模板id
        "eventEle":".btn_express_order",//点击事件元素（不定义：立即弹出）
        "popId":"popnormal4",//弹出层id 默认为popnormal,（可自定义）
        "headTitle":"操作提示",//普通标题
        "popAction":[{
            "actionTxt":"确    认",
            "actionId":"ok_express_order",
            "actionColse":false
        }],//按钮区 actionColse=false 取消自带点击关闭层
        "popCallbackFun":function(args, TfThis){//popCallbackFun 可选项
            var curpopid = "#" + args.popId;
            //关闭层做的操作
            var oid = args.eventEle.parents('li').find('.oid').val();
            $.post('/order/express', {oid: oid}, function (result) {
                if (!result) {
                    alert('远程服务器没有响应');
                    return false;
                }
                if (!result.status) {
                    alert(result.message);
                    return false;
                }
                $(curpopid + " .express_type").html(result.message['express_type']);
                $(curpopid + " .express_code").html(result.message['express_code']);
            }, 'json');

            $(curpopid + " #ok_express_order").on('click', function(event) {
                $("#popnormal4 .close").trigger("click");//关闭层
            });
        }
    });
</script>

</body>
</html>
