<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>好空气网</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/www/css/union.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
    <script type="text/javascript" src="/static/www/js/laydate/laydate.js"></script>
</head>

<body style="overflow:scroll;overflow-x:hidden">

{% include "header.html" %}

<!------banner--------->
<div id="banner" class="yd-banner">
    <div class="bg">
        <span><img src="/static/www/images/yd-banner006.png" /></span>
    </div>

    <div id="ly-con4">
        <ul class="inf">
            <a href="/data"><li class="d6">数据爬虫<span></span></li></a>
            {% if history_city %}
            <a href="/data/history"><li class="d5">历史AQI<span></span></li></a>
            {% endif %}
            {% if weather_city %}
            <a href="/data/weather"><li class="d5">历史天气<span></span></li></a>
            {% endif %}
        </ul>

        <div class="right">

            <div class="cen4" id="ly-conbg">
                <h1>数据爬虫</h1>
                <p class="hp">DATA SPIDER</p>

                <div class="w800 mt20">
                    <table class="mt20" border="1" align="center" style="border:none;width:100%">
                        <tr style="background:#fafafa;">
                            <th>城市</th>
                            <th>日期</th>
                            <th>爬虫类型</th>
                            <th>爬虫状态</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                        {% if job_list %}
                            {% for value in job_list %}
                                <tr>
                                    <td>{{ value['city_name'] }}</td>
                                    <td>{{ value['job_year'] }}年{{ value['job_month'] }}月</td>
                                    <td>
                                        {% if value['job_type'] == 1 %}
                                            AQI爬虫
                                        {% elif value['job_type'] == 2 %}
                                            天气爬虫
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if value['job_status'] == 1 %}
                                            就绪
                                        {% elif value['job_status'] == 2 %}
                                            爬取中
                                        {% elif value['job_status'] == 3 %}
                                            已完成
                                        {% endif %}
                                    </td>
                                    <td>{{ value['update_time'] }}</td>
                                    <td>
                                        <a class="bluebg_a" href="javascript:;" onclick="start_job(this, {{ value['job_id'] }})">启动</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>
<!------banner--------->

{% include "footer.html" %}

<script>
    function start_job(obj, job_id) {
        var mesg = $(obj).parent().siblings().eq(0).text()
            + ' ' + $(obj).parent().siblings().eq(1).text()
            + ' ' + $(obj).parent().siblings().eq(2).text();

        $.post('/data', {job_id: job_id}, function (result) {
            if (!result) {
                alert('远程服务器没响应');
                return false;
            }
            if (!result.status) {
                alert_message(result.message);
                return false;
            }

            alert_loading(mesg + ' 正在运行爬虫,请稍后... ', function () {
                var i = setInterval(function () {
                    $.post('/data/job', {job_id: job_id}, function (result) {
                        if (!result) {
                            alert('远程服务器没响应');
                            return false;
                        }
                        if (!result.status) {
                            alert_message(result.message);
                            return false;
                        }
                        if (result.message == 3) {
                            clearInterval(i);
                            close_loading();
                            alert_message(mesg + ' 抓取已完成！', function () {
                                location.reload();
                            });
                        }
                    }, 'json');
                }, 1000);
            });

        }, 'json');
    }
</script>

</body>
</html>
