<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>好空气网</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/www/css/union.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
    <script type="text/javascript" src="/static/www/js/laydate/laydate.js"></script>
</head>

<body style="overflow:scroll;overflow-x:hidden">

{% include "header.html" %}

<!------banner--------->
<div id="banner" class="yd-banner">
    <div class="bg">
        <span><img src="/static/www/images/yd-banner006.png" /></span>
    </div>

    <div id="ly-con4">
        <ul class="inf">
            <a href="/data"><li class="d6">数据爬虫<span></span></li></a>
            <a href="/data/search"><li class="d5">数据查询<span></span></li></a>
        </ul>

        <div class="right">

            <div class="cen4" id="ly-conbg">
                <h1>数据爬虫</h1>
                <p class="hp">DATA SPIDER</p>

                <div class="w800 mt20">
                    <ul class="ulb">
                        <a style="color:#ffffff;" href="/"><li class="li2">准备中</li></a>
                        <a href="/"><li class="li1">进行中</li></a>
                        <a href="/"><li class="li3">已完成</li></a>
                    </ul>
                    <div class="clear"></div>
                    <table class="mt20" border="1" align="center" style="border:none;width:100%">
                        <tr style="background:#fafafa;">
                            <th class="yd-td01">日期</th>
                            <th>任务名称</th>
                            <th>操作</th>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

    </div>

</div>
<!------banner--------->

{% include "footer.html" %}

<script>
    $(function(){
        $('.select_box').click(function(){
            $('.tj-all, .son_ul').css('display','block');
        });

        $('.son_ul .tj-date').click(function(){
            $('.tj-sanji').css('display','block');
            $('.tj-time').css('display','none');
        });

        $('.select-type').click(function(){
            $('.select-er').css('display','block');
        });

        $('.c-block').click(function(){
            $('.tj-btn').css('display','inline-block');
        });

        $('.tj-btn3').click(function(){
            $('.tj-sanji').css('display','none');
            $('.tj-time').css('display','block');
            $('.tj-all').css('display','none');
        });

        $('.son_ul').hover(
            function(){},
            function(){
                $(this).parent().find("ul.son_ul").slideUp();
            }
        );
    });
</script>

</body>
</html>
