<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>好空气网</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/www/css/union.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
    <script type="text/javascript" src="/static/www/js/laydate/laydate.js"></script>
</head>

<body style="overflow:scroll;overflow-x:hidden">

{% include "header.html" %}

<!------banner--------->
<div id="banner" class="yd-banner">
    <div class="bg">
        <span><img src="/static/www/images/yd-banner006.png" /></span>
    </div>

    <div id="ly-con4">
        <ul class="inf">
            <a href="/data"><li class="d5">数据获取<span></span></li></a>
            <a href="/data/search"><li class="d6">数据查询<span></span></li></a>
        </ul>

        <div class="right">

            <div class="cen4" id="ly-conbg">
                <h1>数据查询</h1>
                <p class="hp">DATA SEARCH</p>

                <div class="tj-select">
                    <ul class="tj-time" id="main_box">
                        <li class="select_box">
                            <a href="javascript:void(0);" class="tj-date"><img src="/static/www/images/rili.png" alt=""></a>
                            <a href="javascript:void(0);" class="xianshi">全部</a>
                            <div class="tj-all" style="display: block;">
                                <ul class="son_ul" style="display: none;z-index: 99;position: relative;background: white;">
                                    <a href=""><li class="c-block">全部</li></a>
                                    <a href=""><li class="today">今日</li></a>
                                    <a href=""><li class="today">昨日</li></a>
                                    <a href=""><li class="c-block">最近7天</li></a>
                                    <a href=""><li class="c-block">最近30天</li></a>
                                    <a href="javascript:void(0);" class="tj-date c-block"><li class="">可选择范围</li></a>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="tj-sanji">
                        <a href="javascript:void(0);" class="s-date" onclick="laydate({istime:false, format: 'YYYY-MM-DD'})">2017-02-01</a>
                        <hr>
                        <a href="javascript:void(0);" class="e-date" onclick="laydate({istime:false, format: 'YYYY-MM-DD'})">2017-02-14</a>
                        <a href="javascript:void(0);" class="tj-btn2" onclick="getcountbydate()">确认</a><a href="javascript:void(0);" class="tj-btn3">取消</a>
                    </div>
                    <div class="tj-search">
                        <p class="search-p">
                            <input type="text" placeholder="请输入应用名称" id="name" value="">
                            <a href="javascript:void(0);" class="tj-btn2" onclick="searchbyname()">确认</a>
                        </p>
                    </div>
                </div>


                <div class="w800 mt20">
                    <table border="1" align="center" style="border:none;width:100%">
                        <tr style="background:#fafafa;">
                            <th class="yd-td01">日期</th>
                            <th>AQI</th>
                            <th>AQI范围</th>
                            <th>空气质量</th>
                            <th>PM2.5</th>
                            <th>SO2</th>
                            <th>CO</th>
                            <th>NO2</th>
                            <th>O3</th>
                        </tr>

                        {% if info and info['items'] %}
                            {% for value in info['items'] %}
                                <tr>
                                    <td>{{ value['hd_date'] }}</td>
                                    <td>{{ value['hd_aqi'] }}</td>
                                    <td>{{ value['hd_aqi_min'] }} - {{ value['hd_aqi_max'] }}</td>
                                    <td>{{ value['hd_quality'] }}</td>
                                    <td>{{ value['hd_pm25'] }}</td>
                                    <td>{{ value['hd_so2'] }}</td>
                                    <td>{{ value['hd_co'] }}</td>
                                    <td>{{ value['hd_no2'] }}</td>
                                    <td>{{ value['hd_o3'] }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>

                    {% if info['pages'] > 0 %}
                        <!-- pages_tab -->
                        <div class="num">
                            {% if info['has_prev'] %}
                                <li><a href="?page={{ info['prev_num'] }}">上一页</a></li>
                            {% endif %}
                            {% for p in range(1, info['pages'] + 1) %}
                                {% if p == page %}
                                    <li class="aa"><a href="?page={{ p }}">{{ p }}</a></li>
                                {% else %}
                                    <li><a href="?page={{ p }}">{{ p }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if info['has_next'] %}
                                <li><a href="?page={{ info['next_num'] }}" class="p_next">下一页</a></li>
                            {% endif %}
                            <span class="page-number">共{{ info['pages'] }}页</span>
                        </div>
                        <!-- pages_tab end-->
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

</div>
<!------banner--------->

{% include "footer.html" %}

<script>
    $(function(){
        $('.select_box').click(function(){
            $('.tj-all, .son_ul').css('display','block');
        });

        $('.son_ul .tj-date').click(function(){
            $('.tj-sanji').css('display','block');
            $('.tj-time').css('display','none');
        });

        $('.select-type').click(function(){
            $('.select-er').css('display','block');
        });

        $('.c-block').click(function(){
            $('.tj-btn').css('display','inline-block');
        });

        $('.tj-btn3').click(function(){
            $('.tj-sanji').css('display','none');
            $('.tj-time').css('display','block');
            $('.tj-all').css('display','none');
        });

        $('.son_ul').hover(
            function(){},
            function(){
                $(this).parent().find("ul.son_ul").slideUp();
            }
        );
    });
</script>

</body>
</html>
