<!DOCTYPE html>
<html>
<head>
    <title>账号管理</title>
    {% include "admin_shared/before_header.html"  %}
    <link rel="stylesheet" href="/static/www/pc/v1/css/publish_position.css" />
</head>
<body>

{% include "admin_shared/header.html" %}

<!-- page-main start -->
<div class="page-main full body_bg">
    <div class="wrap">
        <div class="revenum-wrap clearfix">

            {% include "admin_shared/left.html"  %}

            <!-- main right start -->
            <div class="main">
                <div class="withdraw-wrap">
                    <div class="l-withdraw">
                        <div class="tab-title-s1">
                            <div class="hd-con">
                                <span>修改登录密码</span>
                            </div>
                        </div>
                        <div class="login-password">
                            <form method="post" action="/account/password" id="submit_form" ajaxUrl="/account/password">
                                <ul class="form-list2">
                                    <li class="li">
                                        <label class="lab-title">
                                            <span class="validate-title">输入原密码：</span>
                                        </label>
                                        <div class="ele-wrap">
                                            <input class="form-control  js_validate" placeholder="" id="old_password" name="old_password" type="password" value="" autocomplete="off" />
                                        </div>
                                    </li>
                                    <li class="li">
                                        <label class="lab-title">
                                            <span class="validate-title">输入新密码：</span>
                                        </label>
                                        <div class="ele-wrap">
                                            <input class="form-control  js_validate" placeholder="" id="new_password1" name="new_password1" type="password" value="" autocomplete="off" />
                                        </div>
                                    </li>
                                    <li class="li">
                                        <label class="lab-title">
                                            <span class="validate-title">重复新密码：</span>
                                        </label>
                                        <div class="ele-wrap">
                                            <input class="form-control  js_validate" placeholder="" id="new_password2" name="new_password2" type="password" value="" autocomplete="off" />
                                        </div>
                                    </li>
                                    <li class="li">
                                        <div class="l-apply-take">
                                            <input onclick="on_submit()" class="btn btn-m3 btn-black" type="button" value="提 交" />
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main right end -->
        </div>
    </div>
</div>
<!-- page-main end -->

{% include "admin_shared/footer.html"  %}

<script type="text/javascript">
    //ajax 表单验证
    //serviceValidateFun('#publish_form');

    function on_submit() {
        $.post($('#submit_form').attr('action'), $('#submit_form').serialize(), function (result) {
            if (!result) {
                alert('远程服务器没有响应，请稍后再试！');
                return false;
            }

            if (result.status) {
                alert(result.message);
                location.reload();
                return false;
            }

            if (typeof result.message != "object") {
                alert(result.message);
                return false;
            }

            $('.error').remove();
            for (var o in result.message) {
                var msg = result.message[o];
                var error = '<p class="error">' + msg.toString() + '</p>';
                $('#' + o).after(error);
            }
        }, 'json');
    }
</script>

{% include "admin_shared/after_footer.html" %}

</body>
</html>