<!DOCTYPE html>
<html>
<head>
    <title>品牌入驻</title>
    {% include "index_shared/before_header.html"  %}
    <link rel="stylesheet" href="/static/www/pc/v1/css/publish_position.css"/>
</head>
<body>

{% include "index_shared/header.html"  %}

<!-- page-main start -->
<div class="page-main full">
    <div class="wrap">
        <div class="publish-wrap">
            <!-- 登录表单 start -->
            <div class="settle-list">
                <form action="/join" method="post" id="submit_form" ajaxUrl="/join">
                    <div class="pulish-form">
                        <ul class="form-list1">
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">品牌名称：</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="brand" name="brand" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">公司名称：</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="company_name" name="company_name" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">平均月订单量：</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="avg_sales" name="avg_sales" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">在线店铺网址：</span>
                                    <span class="title-tips">淘宝天猫店铺或官网，如无不填写</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="online_shop_link" name="online_shop_link" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">负责人姓名：</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="contact_name" name="contact_name" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">手机号：</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="contact_phone" name="contact_phone" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                            <li class="li">
                                <label class="lab-title">
                                    <span class="validate-title">在线联系方式：</span>
                                    <span class="title-tips">QQ或微信均可</span>
                                </label>
                                <div class="ele-wrap ">
                                    <input class="form-control js_validate" placeholdid="" id="contact_other" name="contact_other" type="text" value="" autocomplete="off" />
                                </div>
                            </li>
                        </ul>
                        <div class="l-remember">
                            <div class="remember-me">
                                <label class="proxyinput proxy-checkbox">
                                    <span class="h0hidden"><input type="checkbox" id="agree" name="agree" checked="checked" value="1" /></span>
                                    我销售的商品符合法律法规，并愿意为买家进行相关售后服务！
                                </label>
                            </div>
                        </div>
                        <div class="l-submit">
                            <input onclick="on_submit()" class="btn btn-m3 btn-l4 btn-black" type="button" value="提&nbsp;&nbsp;&nbsp;&nbsp;交">
                        </div>
                    </div>
                </form>
            </div>
            <!-- 登录表单 end-->
        </div>
    </div>
</div>
<!-- page-main end -->

{% include "index_shared/footer.html"  %}

<script type="text/javascript">
    //ajax 表单验证
    //serviceValidateFun('#publish_form');

    function on_submit() {
        $.post($('#submit_form').attr('action'), $('#submit_form').serialize(), function (result) {
            if (!result) {
                alert('远程服务器没有响应，请稍后再试！');
                return false;
            }

            if (result.status) {
                window.location = result.message;
                return false;
            }

            if (typeof result.message != "object") {
                alert(result.message);
            }

            $('.error').remove();
            for (var o in result.message) {
                var msg = result.message[o];
                var error = '<p class="error">' + msg.toString() + '</p>';
                if (o == 'agree') {
                    $('#agree').parent().after(error);
                } else {
                    $('#' + o).after(error);
                }
            }
        }, 'json');
    }

</script>

{% include "index_shared/after_footer.html"  %}

</body>
</html>