<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>好空气网</title>
    <link href="/static/www/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/static/www/css/union.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/www/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.DB_tabMotionBanner.min.js"></script>
    <script type="text/javascript" src="/static/www/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/static/www/js/main.js"></script>
    <script type="text/javascript" src="/static/www/js/laydate/laydate.js"></script>
    <link rel="stylesheet" href="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=90njCvBxUel6rnaBDtsArATHSrtvj5j4"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
</head>

<body style="overflow:scroll;overflow-x:hidden">

{% include "header.html" %}

<!------banner--------->
<div id="banner" class="yd-banner">
    <div class="bg">
        <span><img src="/static/www/images/yd-banner006.png" /></span>
    </div>

    <div id="ly-con4">
        <ul class="inf">
            <a href="javascript:void(0)"><li class="d6">全国地图<span></span></li></a>
        </ul>

        <div class="right">

            <div class="cen4" id="ly-conbg">
                <h1>污染地图</h1>
                <p class="hp">DATA MAP</p>

                <div class="tj-select">
                    <div class="tj-sanji">
                        <a id="search_date_end" href="javascript:void(0);" class="e-date" onclick="laydate({istime:false, format: 'YYYY-MM-DD'})">
                            {{ date_end }}
                        </a>
                        <a href="javascript:void(0);" class="tj-btn2" onclick="map_search()">查询</a>
                        <a href="/map" class="tj-btn3">重置</a>
                    </div>
                </div>

                <div class="w800 mt20">
                    <ul class="ulb">
                        <a href="/map?date_end={{ date_end }}&type=aqi"><li class="{{ 'li22' if type == 'aqi' else 'li12' }}">AQI</li></a>
                        <a href="/map?date_end={{ date_end }}&type=quality"><li class="{{ 'li22' if type == 'quality' else 'li12' }}">空气质量</li></a>
                        <a href="/map?date_end={{ date_end }}&type=pm25"><li class="{{ 'li22' if type == 'pm25' else 'li12' }}">PM2.5</li></a>
                        <a href="/map?date_end={{ date_end }}&type=pm10"><li class="{{ 'li22' if type == 'pm10' else 'li12' }}">PM10</li></a>
                        <a href="/map?date_end={{ date_end }}&type=so2"><li class="{{ 'li22' if type == 'so2' else 'li12' }}">SO2</li></a>
                        <a href="/map?date_end={{ date_end }}&type=co"><li class="{{ 'li22' if type == 'co' else 'li12' }}">CO</li></a>
                        <a href="/map?date_end={{ date_end }}&type=no2"><li class="{{ 'li22' if type == 'no2' else 'li12' }}">NO2</li></a>
                        <a href="/map?date_end={{ date_end }}&type=o3"><li class="{{ 'li22' if type == 'o3' else 'li12' }}">O3</li></a>
                    </ul>
                    <div id="baidu_map" style="width: 100%;height: 700px;border: 1px solid #ddd;"></div>
                </div>

            </div>
        </div>
    </div>

</div>
<!------banner--------->

{% include "footer.html" %}

<script type="text/javascript">
    function map_search() {
        var search_date_end = $('#search_date_end').text().trim();
        window.location = '/map?date_end=' + search_date_end;
    }

	// 百度地图API功能
	var map = new BMap.Map("baidu_map");  // 创建Map实例
	map.centerAndZoom("{{ city_name }}", 7);      // 初始化地图,用城市名设置地图中心点
    map.addControl(new BMap.NavigationControl());
    map.addControl(new BMap.ScaleControl());
    map.addControl(new BMap.OverviewMapControl());
    map.enableScrollWheelZoom(true);             //开启鼠标滚轮缩放

	function geocodeSearch(add, text, level){
		myGeo.getPoint(add, function(point){
			if (point) {
                //console.info(index + "、" + add + ":" + point.lng + "," + point.lat);
				var address = new BMap.Point(point.lng, point.lat);
				//addMarker(address,new BMap.Label(index+":"+add,{offset:new BMap.Size(20,-10)}));

                var opts_tip = {
                    position : address,
                    offset   : new BMap.Size(20, -10)
                };
                var label_tip = new BMap.Label(text, opts_tip);  // 创建文本标注对象
                label_tip.setStyle({
                    color : history_colors[history_types.indexOf(level)],
                    background: history_background[history_types.indexOf(level)],
                    fontSize : "12px",
                    border:'1px solid #999',
                    width: "auto",
                    textAlign:"center",
                    height : "18px",
                    lineHeight : "18px"
                });
                map.addOverlay(label_tip);
			}
		}, "{{ city_name }}");
	}

    var history_types = ['优', '良', '轻度污染', '中度污染', '重度污染', '严重污染'];
	var history_colors = ['#000', '#000', '#fff', '#fff', '#fff', '#fff'];
    var history_background = ['#43ce17', '#efdc31', '#fa0', '#ff401a', '#d20040', '#9c0a4e'];

    var myGeo = new BMap.Geocoder();
    {% for city in city_all %}
        geocodeSearch("{{ city['city_name'] }}", "{{ city['city_name'] }}:{{ city[field] }}", "{{ city['hd_quality'] }}");
    {% endfor %}
    map.centerAndZoom("{{ city_name }}", 7);
</script>


</body>
</html>
