html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #ffffff;
}
body {
  line-height: 1.6;
  font-family: "微软雅黑", "宋体", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  background: #ffffff;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #126097;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #6495ed;
}
ol,
ul,
li {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
em,
cite {
  font-style: normal;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
  outline: 0 none;
}
.clear {
  clear: both;
  zoom: 1;
  height: 0;
  overflow: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ' \20';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.page-main {
  padding-top: 15px;
}
.full {
  width: 100%;
}
.wrap,
.container {
  width: 1028px;
  margin: auto;
}
@media screen and (max-width: 1200px) {
  .wrap,
  .container {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 1024px) {
  .wrap,
  .container {
    width: 970px;
    margin: auto;
  }
}
@media screen and (max-width: 990px) {
  .full {
    width: 990px;
  }
}
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
.hidden,
.unable {
  display: none!important;
}
.h0hidden,
.proxy_hide,
.checkbox-hidden {
  overflow: hidden;
  height: 0px!important;
  line-height: 0px!important;
  font-size: 0px!important;
  display: inline-block !important;
  width: 0px!important;
  padding: 0px!important;
}
.over-hidden {
  overflow: hidden;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right!important;
}
.tx-left {
  text-align: left;
}
.tx-center {
  text-align: center;
}
.tx-right {
  text-align: right;
}
.v-center {
  vertical-align: middle;
}
/**
  * Font Commons
  */
.f_normal {
  font-style: normal;
}
.f_bold {
  font-weight: bold;
}
/*color*/
.nobg {
  background: none!important;
}
.l-orange {
  color: #ff5a00;
}
.l-red {
  color: #ff2222;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.body-bg {
  background: #ececec url(../images/basic/body_bg_bottom.png) center bottom no-repeat;
}
/* .btn */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  font-size: 18px;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  font-family: "微软雅黑";
  cursor: pointer;
}
.btn:hover {
  text-decoration: none;
}
/*
18 .btn-s1
21 .btn-s2
23 .btn-s3
26 .btn-s4
29 .btn-s5

35 .btn-m1
40 .btn-m2
44 .btn-m3

46 .btn-l1
51 .btn-l2
55 .btn-l3
77 .btn-l4
 */
/* btn 大小 */
.btn-s1 {
  height: 18px;
  line-height: 17px;
  font-size: 12px;
  border-width: 1px;
  border-radius: 1px;
}
.btn-s2 {
  height: 21px;
  line-height: 20px;
  font-size: 14px;
  border-width: 1px;
  border-radius: 3px;
}
.btn-s3 {
  height: 23px;
  line-height: 22px;
  font-size: 12px;
  border-radius: 3px;
}
.btn-s4 {
  height: 26px;
  line-height: 25px;
  font-size: 12px;
}
.btn-s5 {
  height: 29px;
  line-height: 28px;
  font-size: 16px;
}
.btn-m1 {
  width: 100%;
  height: 35px;
  line-height: 34px;
  font-size: 14px;
}
.btn-m2 {
  height: 40px;
  line-height: 39px;
  font-size: 16px;
}
.btn-m3 {
  width: 100%;
  height: 44px;
  line-height: 43px;
  font-size: 16px;
}
.btn-l1 {
  height: 46px;
  line-height: 45px;
  font-size: 18px;
}
.popUp .pop_action .btn-primary,
.popUp .pop_action .btn-default,
.btn-l2 {
  width: 100%;
  height: 51px;
  line-height: 50px;
  font-size: 16px;
}
.btn-l3 {
  height: 55px;
  line-height: 54px;
  font-size: 16px;
}
.btn-l4 {
  height: 77px;
  line-height: 76px;
  font-size: 18px;
}
/* btn 样式 */
.btn-bor {
  background-color: #ffffff;
  border-color: #7c7c7c;
  color: #000000;
}
.btn-bor:active,
.btn-bor:hover {
  color: #ff0000;
}
.btn-orange1 {
  background-color: #ff8a00;
  color: #ffffff;
}
.btn-orange1:active,
.btn-orange1:hover {
  color: #ffffff;
}
.btn-orange2 {
  background-color: #ffffff;
  border-color: #ff8a00;
  color: #ff8a00;
}
.btn-orange2:active,
.btn-orange2:hover {
  color: #ff8a00;
}
.btn-white {
  background-color: #ffffff;
  color: #ff5a00;
}
.btn-white:active,
.btn-white:hover {
  color: #ff5a00;
}
.popUp .pop_action .btn-primary,
.popUp .pop_action .btn-default,
.btn-black {
  background-color: #000000;
  color: #ffffff;
}
.popUp .pop_action .btn-primary:active,
.popUp .pop_action .btn-default:active,
.btn-black:active,
.popUp .pop_action .btn-primary:hover,
.popUp .pop_action .btn-default:hover,
.btn-black:hover {
  color: #ffffff;
}
.btn-green {
  background-color: #effff1;
  border-color: #00a217;
  color: #000000;
}
.btn-green:active,
.btn-green:hover {
  color: #000000;
}
.btn-green1 {
  background-color: #effff1;
  border-color: #00a217;
  color: #00a217;
}
.btn-green1:active,
.btn-green1:hover {
  color: #00a217;
}
/*.proxy start*/
.proxy_select + .select_other {
  margin-top: 10px;
}
.proxy_select .option_group li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  /* Opera */
  -moz-binding: url("ellipsis.xml#ellipsis")
  /*FireFox*/
}
/*proxy_select*/
.proxy_select,
.proxy_select .option_group {
  background: #ffffff;
}
.proxy_select {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 100%;
}
.proxy_select .proxy_sel_hide {
  display: inline-block;
  overflow: hidden;
  width: 0px;
  height: 0px;
}
.proxy_select .proxy-txt {
  background: #ffffff url(../images/form_control/ico_arrow_sel_down.png) no-repeat right center !important;
  padding-right: 37px;
}
.proxy_select .proxy-txt.arrow-up {
  background: #ffffff url(../images/form_control/ico_arrow_sel_up.png) no-repeat right center !important;
}
.proxy_select .option_group {
  display: none;
  position: absolute;
  max-height: 200px;
  overflow: auto;
}
.proxy_select .option_group li {
  line-height: 20px;
  padding: 3px 10px;
  cursor: pointer;
  color: #373737;
}
.proxy_select .option_group li:hover,
.proxy_select .option_group li.cur {
  background: #f7f7f7;
}
/* proxyinput */
.proxyinput {
  padding: 5px 10px 5px 42px;
  min-height: 14px;
  height: auto!important;
  height: 16px;
  line-height: 16px;
  margin-top: 10px;
  display: inline-block;
  float: left;
}
.proxyinput_group {
  margin-top: -10px;
}
/*proxyinput checkbox*/
.proxyinput.proxy-checkbox {
  background-image: url(../images/form_control/checkbox.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}
.proxyinput.proxy-checkbox.checked {
  background-image: url(../images/form_control/checkbox_checked.png);
}
.proxyinput.proxy-radio {
  background-image: url(../images/form_control/radio.png);
  background-repeat: no-repeat;
  background-position: 10px center;
}
.proxyinput.proxy-radio .l-urgent {
  color: red;
  margin-left: 5px;
}
.proxyinput.proxy-radio.checked {
  background-image: url(../images/form_control/radio_checked.png);
}
/*.form-control */
.form-control-ele,
.form-control,
.form-control.code {
  display: inline-block;
  font-family: "微软雅黑";
  border: solid 1px #a0a0a0;
  color: #4f4f4f;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  background: transparent;
}
.form-control-ele:focus,
.form-control:focus,
.form-control.code:focus {
  border-color: #00a217!important;
  background: #effff1;
  outline: 0;
}
.form-control-ele[readonly],
.form-control[readonly],
.form-control.code[readonly],
.form-control-ele[disabled],
.form-control[disabled],
.form-control.code[disabled] {
  background: #ffffff;
}
.focus {
  border: 1px solid #00a217!important;
  background-color: #effff1;
}
.focus .form-control {
  background-color: transparent;
}
textarea.form-control {
  height: 190px;
  line-height: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* form  start*/
/* .form-list1 */
.form-list2,
.form-list1 {
  font-size: 14px;
  color: #000000;
}
.form-list2 .li,
.form-list1 .li {
  position: relative;
  padding: 0 0 35px 0;
}
.form-list2 .lab-title,
.form-list1 .lab-title {
  padding-bottom: 13px;
  display: block;
  font-size: 18px;
  line-height: 24px;
}
.form-list2 .lab-title span,
.form-list1 .lab-title span {
  vertical-align: middle;
  display: inline-block;
}
.form-list2 .lab-title .vali-mark,
.form-list1 .lab-title .vali-mark {
  color: #ff0000;
  font-size: 22px;
  margin: 0 0 -8px 0;
}
.form-list2 .lab-title .vali-mark,
.form-list1 .lab-title .vali-mark,
.form-list2 .lab-title .validate-title,
.form-list1 .lab-title .validate-title {
  padding: 0 12px 0 0;
}
.form-list2 .lab-title .title-tips,
.form-list1 .lab-title .title-tips {
  color: #818181;
  font-size: 14px;
  margin-right: 12px;
}
.form-list2 .li-s1 .validate-title,
.form-list1 .li-s1 .validate-title {
  font-size: 16px;
}
.form-list2 .ele-wrap,
.form-list1 .ele-wrap {
  position: relative;
  margin-bottom: 18px;
}
.form-list2 .ele-wrap:last-child,
.form-list1 .ele-wrap:last-child {
  margin-bottom: 0px;
}
.form-list2 .form-control-ele,
.form-list1 .form-control-ele,
.form-list2 .form-control,
.form-list1 .form-control {
  width: 100%;
}
.form-list2 .form-control-ele,
.form-list1 .form-control-ele {
  position: relative;
  padding: 0px;
  min-height: 50px;
  height: auto!important;
}
.form-list2 .form-control-ele .form-control,
.form-list1 .form-control-ele .form-control {
  border: 0px;
  background: transparent;
  margin: -5px 0 0 0;
}
.form-list2 .form-control-ele .proxyinput_group,
.form-list1 .form-control-ele .proxyinput_group,
.form-list2 .form-control .proxyinput_group,
.form-list1 .form-control .proxyinput_group {
  padding: 10px 0 10px 0;
}
.form-list2 .deduct-ele .form-control,
.form-list1 .deduct-ele .form-control {
  padding-right: 9%;
}
.form-list2 .deduct-ele .ele-right,
.form-list1 .deduct-ele .ele-right,
.form-list2 .deduct-ele .ele-center,
.form-list1 .deduct-ele .ele-center {
  display: inline-block;
  position: absolute;
  top: 0px;
}
.form-list2 .deduct-ele .ele-right,
.form-list1 .deduct-ele .ele-right {
  width: 7.5%;
  right: 0px;
}
.form-list2 .deduct-ele .ele-center,
.form-list1 .deduct-ele .ele-center {
  right: 9%;
  width: 80%;
  text-align: left;
  color: #e40000;
}
.form-list2 .deduct-ele.has-center .form-control,
.form-list1 .deduct-ele.has-center .form-control {
  padding-right: 89%;
}
/* form-list2 */
.form-list2 {
  font-size: 14px;
  color: #000000;
}
.form-list2 .lab-title {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 16px;
}
.form-list2 .lab-title,
.form-list2 .form-control {
  height: 40px;
  line-height: 40px;
}
.form-list2 .li {
  padding-bottom: 20px;
  padding-left: 130px;
}
/*error*/
input.error,
textarea.error,
select.error,
.form-control.error,
.form-control-ele.error,
.js-pfocus.error {
  border-color: #ff0303;
  color: #ff0000;
}
.radio_other_text.error,
.checkbox_other_text.error,
.select_other.error {
  color: #373737;
}
.no_error {
  border-color: #c4c4c4!important;
  color: #4f4f4f!important;
}
p.error {
  background: url(../images/form_control/ico_error.png) no-repeat 0 12px;
  color: #ff0000;
  padding: 10px 0 0 22px!important;
  min-height: 20px;
  height: auto!important;
  height: 20px;
  line-height: 20px!important;
}
.proxyinput_group p.error {
  margin-left: 10px;
}
/*add-imglist1 */
.btn-ftp1 {
  background: #fafafa url(../images/form_control/ico_add.png) no-repeat center center;
  width: 150px;
  height: 150px;
  border: solid 3px #e5e4e4;
  display: inline-block;
}
.add-imglist1 {
  margin: 0 0 0 -18px;
}
.add-imglist1 .btn-ftp1,
.add-imglist1 .cell-img img {
  width: 140px;
  height: 140px;
}
.add-imglist1 .cell-img img {
  border: solid 1px #e5e4e4;
}
.add-imglist1 .cell {
  position: relative;
  height: 175px;
  float: left;
  display: inline-block;
  margin: 10px 0 0 18px;
}
.add-imglist1 .cell-del {
  display: inline-block;
}
.add-imglist1 .cell-del .txt-del {
  display: none;
}
.add-imglist1 .cell-del {
  position: absolute;
  top: -8px;
  right: -8px;
}
.add-imglist1 .set-face {
  text-align: center;
  font-size: 12px;
  padding: 5px 0 0 0;
}
.select_checkbox {
  height: 166px;
}
.select_checkbox .sel_checkbox,
.select_checkbox .sel_oper,
.select_checkbox .sel_textarea {
  float: left;
  height: 100%;
}
.select_checkbox .sel_checkbox,
.select_checkbox .sel_textarea {
  width: 40%;
}
.select_checkbox .sel_textarea .form-control {
  height: 100%;
}
.select_checkbox .sel_oper {
  width: 20%;
  text-align: center;
  padding-top: 27px;
}
.select_checkbox .sel_add,
.select_checkbox .sel_remove {
  width: 80px;
  height: 35px;
  line-height: 34px;
  padding: 0px;
  border: solid 1px #a0a0a0;
  border-radius: 5px;
  margin-bottom: 22px;
}
.select_checkbox .sel_add,
.select_checkbox .sel_remove,
.select_checkbox .sel_add:hover,
.select_checkbox .sel_remove:hover {
  color: #000000;
}
.select_checkbox .sel_checkbox {
  padding: 10px;
  border: solid 1px #a0a0a0;
  overflow-y: auto;
}
.select_checkbox .sel_checkbox .sel_checkbox_li {
  line-height: 18px;
  padding: 5px  15px;
  display: block;
  color: #818181;
  cursor: pointer;
}
.select_checkbox .sel_checkbox .sel_checkbox_li .h0hidden {
  position: fixed;
  top: -100000000px;
  left: 0px;
}
.select_checkbox .sel_checkbox .active {
  color: #ff5a00!important;
}
/* form  end*/
/* pulish-form */
.withdraw-form,
.pulish-form {
  width: 776px;
  margin: 0 auto;
}
/* table-list start*/
.table-list {
  padding-top: 20px;
  padding-bottom: 255px;
}
.table-s1 {
  width: 100%;
}
.table-s1 thead tr {
  border-bottom: 1px solid #e0e0e0;
}
.table-s1 thead tr th {
  padding-top: 16px;
  padding-bottom: 16px;
}
.table-s1 thead tr th span {
  font-size: 14px;
}
.table-s1 tbody tr td {
  text-align: center;
  padding-top: 33px;
}
.table-s1 tbody tr td .l-time {
  margin-left: 5px;
}
.table-s1 tbody tr td .l-delete {
  font-size: 12px;
  color: #000;
}
.table-s1 thead tr th.l-wp1 {
  width: 16.08040201%;
}
.table-s1 thead tr th.l-wp2 {
  width: 19.34673367%;
}
.table-s1 thead tr th.l-wp3 {
  width: 14.07035176%;
}
.table-s1 thead tr th.l-wp5 {
  width: 19.34673367%;
}
.table-s1 thead tr th.l-wp6 {
  width: 9.798994975%;
}
/* table-list end*/
/*pages_tab start*/
.pages_tab {
  padding: 90px 0 10px 0;
  text-align: center;
}
.pages_tab a,
.pages_tab a:hover {
  display: inline-block;
  width: 27px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  color: #000;
  text-decoration: none;
  border: 1px solid #efefef;
  border-left: none;
  background: #fff;
}
.pages_tab a.p_next,
.pages_tab a:hover.p_next,
.pages_tab a.p_prev,
.pages_tab a:hover.p_prev {
  width: 55px;
  border-left: 1px solid #efefef;
}
.pages_tab a.cur,
.pages_tab a:hover.cur {
  color: #fff;
  background: #000;
}
.pages_tab .pages-tab {
  display: inline-block;
  border-left: 1px solid #efefef;
  font-size: 0;
}
.pages_tab .page-number {
  color: #9d9d9d;
  margin-left: 17px;
}
/*pages_tab end*/
/* .ico */
.ico {
  /* background-image: url(../images/basic/basic.png) no-repeat; */
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
}
.ico-del {
  background-image: url(../images/form_control/ico_del.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 20px;
  height: 20px;
}
/* header .ico start*/
.ico-shop-cart {
  display: inline-block;
  width: 58px;
  height: 60px;
  background: url(../images/ico_shop_cart.png) 0 0 no-repeat;
  vertical-align: middle;
}
.ico-nav-triangle {
  width: 23px;
  height: 16px;
  background: url(../images/ico_nav_triangle.png) 0 0 no-repeat;
}
/* header .ico end*/
/*收入提现 ico start*/
.ico-arrow-up {
  display: inline-block;
  width: 12px;
  height: 6px;
  background: url(../images/basic/ico_arrow_up.png) 0 0 no-repeat;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 6px;
}
/*收入提现 ico end*/
/*品牌申请成功 ico start*/
.ico-success {
  width: 69px;
  height: 69px;
  background: url(../images/basic/ico_success.png) 0 0 no-repeat;
}
/*品牌申请成功 ico end*/
/*扫我 ico*/
.ico-sweep {
  width: 48px;
  height: 40px;
  background: url(../images/basic/ico_sweep.png) 0 0 no-repeat;
}
/*搜索 ico*/
.ico-search {
  width: 46px;
  height: 50px;
  background: url(../images/basic/ico_search.png) 0 0 no-repeat;
  cursor: pointer;
}
/*pop start*/
#gmask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 9999;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}
.popUp {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  display: none;
}
.popUp .pop {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
}
.popUp .pop .pop-wrap {
  background: #ffffff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.popUp .mid,
.popUp .large {
  width: 786px;
}
.popUp .pop_head {
  height: 56px;
  line-height: 56px;
  font-size: 18px;
  padding: 0 25px;
  border-bottom: solid 1px #eeeeee;
  margin: 0 10px;
}
.popUp .pop_head h3 {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: #515151;
}
.popUp .close,
.popTop .close {
  position: absolute;
  right: 22px;
  top: 10px;
  background: url(../images/basic/pop_close.png) no-repeat 0 0;
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
}
.popTop .close {
  right: 16px;
  top: 16px;
}
.popUp .closehide .close {
  background: none;
  height: 0px;
  width: 0px;
}
.popUp .pop_action {
  text-align: center;
  padding: 0 0 80px;
}
.popUp .pop_action .btn-primary,
.popUp .pop_action .btn-default {
  width: 204px;
  margin: 0 25px;
  font-size: 18px;
}
.popUp .pops1_con {
  min-height: 220px;
  font-size: 16px;
  color: #515151;
  line-height: 25px;
}
/*单行居中*/
.popUp .pop-single-line {
  text-align: center;
  line-height: 220px;
  font-size: 24px;
}
/*双行居中*/
.popUp .pop-tow-line {
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  padding: 75px 0;
}
/*pop end*/
/*animate.css start*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
/*animate.css end*/
.gwm-weixin.animated,
.gwm-logo.animated {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* header .ico start*/
.ico-gwm-logo {
  display: inline-block;
  width: 58px;
  height: 60px;
  background: url(../images/basic/ico_gwm_logo.png) 0 0 no-repeat;
  vertical-align: middle;
}
.ico-tel1 {
  background-image: url(../images/basic/ico-tel1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 21px;
  height: 18px;
}
.ico-weixin {
  background-image: url(../images/basic/ico_weixin.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 27px;
  height: 23px;
}
.ico-nav-triangle {
  background-image: url(../images/basic/ico_nav_triangle_up.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 23px;
  height: 16px;
}
.down .ico-nav-triangle {
  background-image: url(../images/basic/ico_nav_triangle_down.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* header .ico end*/
/*点击回到顶部 start*/
.l-click-top {
  position: fixed;
  right: 30px;
  bottom: 60px;
}
.l-click-top .l-top {
  display: inline-block;
  width: 46px;
  height: 45px;
  background: url(../images/basic/click_top.png) 0 0 no-repeat;
}
/*点击回到顶部 end*/
/*头部 start*/
.logout-wrap .header .wrap {
  width: 100%;
}
.header,
.header-wrap {
  width: 100%;
  height: 95px;
  z-index: 500;
}
.header-wrap {
  position: relative;
}
.header {
  background: #ffffff;
  line-height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eeeeee;
  padding: 0 30px;
}
.header .wrap {
  padding: 0 15px;
}
.header .header-left {
  float: left;
}
.header .header-right {
  float: right;
}
.header .header-center {
  float: left;
  text-align: center;
}
.header a:hover {
  text-decoration: none;
}
/* logo */
.tel-wrap,
.gwm-logo,
.gwm-weixin {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.tel-wrap:hover,
.gwm-logo:hover,
.gwm-weixin:hover {
  color: #000000;
}
.tel-wrap .ico,
.gwm-logo .ico,
.gwm-weixin .ico {
  margin-right: 10px;
  margin-top: -3px;
}
.gwm-logo,
.tel-wrap {
  width: 168px;
}
.gwm-logo {
  font-size: 30px;
  text-indent: -9999px;
  background: url(../images/basic/nav_bg.png) 0 center no-repeat;
}
.tel-wrap {
  font-size: 12px;
  display: none;
}
.gwm-weixin {
  color: #4aae3a;
  position: relative;
}
.gwm-weixin:hover {
  color: #4aae3a;
}
.gwm-weixin.active .ele-hover,
.gwm-weixin:hover .ele-hover {
  display: block;
  left: 0px;
  top: 78%;
}
.gwm-weixin.active .ele-hover img,
.gwm-weixin:hover .ele-hover img {
  display: block;
  width: 129px;
  height: 129px;
}
.gwm-weixin .ico {
  margin-right: 8px;
}
.ele-hover {
  display: none;
  width: 135px;
  height: 135px;
  padding: 2px;
  background: #ffffff;
  border: solid 1px #c3c3c3;
  position: absolute;
}
.ele-hover .tips1 {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: -8px;
  background-image: url(../images/basic/ele_hover_tips1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 12px;
  height: 8px;
}
.login {
  padding-right: 10px;
}
.login .user-name {
  font-size: 14px;
  vertical-align: middle;
}
.login .login-out {
  width: 49px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #000;
  margin-left: 15px;
  cursor: pointer;
}
.head-nav a {
  font-size: 16px;
  color: #a3a3a3;
  margin: 0 30px;
}
.head-nav a.cur,
.head-nav a:hover {
  color: #000000;
}
/* head-anim */
.head-anim {
  background: #ffffff;
  height: 170px;
}
.head-anim .header {
  position: static!important;
}
.head-anim .tel-wrap {
  display: inline-block;
}
.head-anim .header-center {
  position: absolute;
  left: 0px;
  top: 95px;
  line-height: 74px;
}
.head-anim .gwm-logo {
  position: absolute;
  left: 50%;
  top: 0px;
  margin: 0 0 0 -84px;
  background: url(../images/basic/nav_bg_index.png) 0 center no-repeat;
}
/*头部 end*/
/*page-main statr*/
.main {
  float: right;
  width: 841px;
  min-height: 650px;
  background: #ffffff;
  padding-bottom: 30px;
}
/*page-main end*/
/*左边导航 statr*/
.nav-left {
  float: left;
}
.nav-list {
  width: 175px;
  min-height: 525px;
  background: #ffffff;
  padding: 22px 0;
}
.nav-list .li {
  margin-top: 30px;
  padding: 0 20px;
}
.nav-list .li .nav-one,
.nav-list .li .nav-one:hover {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  text-decoration: none;
  position: relative;
  padding: 0 0 0 36px;
}
.nav-list .li.has-child .nav-one,
.nav-list .li.has-child .nav-one:hover {
  background: url(../images/basic/ico_nav_triangle_up.png) no-repeat 0 center;
}
.nav-list .li.has-child.down .nav-one,
.nav-list .li.has-child.down .nav-one:hover {
  background: url(../images/basic/ico_nav_triangle_down.png) no-repeat 0 center;
}
.nav-list .li.has-child.down .nav-two {
  display: block;
}
.nav-list .li .nav-two {
  line-height: 30px;
  display: none;
}
.nav-list .li .nav-two .commodity,
.nav-list .li .nav-two .commodity:hover {
  padding: 0 0 0 50px;
  display: block;
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.nav-list .li .cur:hover,
.nav-list .li .cur {
  color: #ff5a00!important;
}
/*左边导航 end*/
/*footer start*/
.footer-wrap {
  margin: 35px 0 0;
}
.footer-con {
  padding-top: 85px;
  text-align: center;
}
.footer-con .footer-txt {
  line-height: 25px;
}
.footer-con .footer-txt p {
  font-size: 14px;
}
.footer-con .copyright {
  margin: 50px 0 38px;
  font-size: 11px;
}
/*footer end*/
/*# sourceMappingURL=basic.css.map */