/*ico start*/
.ico-sweep {
  width: 48px;
  height: 40px;
  background: url(../images/basic/ico_sweep.png) 0 0 no-repeat;
}
/*ico end*/
/*店铺管理 start*/
.dity-manage-wrap {
  padding: 24px 17px 160px 30px;
}
.dity-manage-guide .l-guide-con {
  padding-right: 200px;
}
.dity-manage-guide .ico-shop-cart {
  width: 40px;
  height: 40px;
  background: url(../images/basic/ico_shop_cart_small.png) 0 0 no-repeat;
}
.l-guide-txt {
  display: inline-block;
  font-size: 18px;
  line-height: 62px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.l-guide-txt .l-orange,
.l-guide-txt .l-orange:hover {
  color: #ff6600;
  text-decoration: none;
}
.dity-generate {
  margin-top: 25px;
}
.dity-generate .generate-title {
  padding: 34px 0;
  font-size: 18px;
}
.dity-generate .dity-data {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0 20px 30px;
}
.dity-generate .dity-data .dity-img {
  width: 147px;
  height: 100px;
  float: left;
}
.dity-generate .dity-data .dity-img .user-img {
  display: inline-block;
}
.dity-generate .dity-data .dity-txt {
  margin-left: 190px;
  line-height: 35px;
}
.dity-generate .dity-data .dity-txt .l-name-english {
  font-size: 18px;
}
.dity-generate .dity-data .dity-txt .l-name {
  font-size: 16px;
}
.dity-generate .l-ewm-card img {
  width: 100%;
}
.dity-generate .l-ewm-card .l-card-left {
  display: inline-block;
  width: 435px;
  height: 176px;
  vertical-align: middle;
}
.dity-generate .l-ewm-card .l-card-conter {
  display: inline-block;
  height: 190px;
  width: 1px;
  border: 1px dotted #ffffff;
  margin: 0 35px 0 50px;
  vertical-align: middle;
}
.dity-generate .l-ewm-card .l-card-right {
  display: inline-block;
  width: 191px;
  height: 132px;
  text-align: center;
  margin-top: 46px;
  background: url(../images/basic/ewm_dity_bg.png) 0 0 no-repeat;
  vertical-align: middle;
  position: relative;
}
.dity-generate .l-ewm-card .l-card-right .l-sweep {
  position: absolute;
  top: -45px;
  right: -18px;
}
.dity-generate .l-ewm-card .l-card-right .ewm-name {
  margin-top: -67px;
  font-size: 18px;
}
.dity-generate .l-print {
  padding: 20px 0;
}
.dity-generate .l-print .l-print-title {
  color: #727372;
  font-size: 14px;
  vertical-align: middle;
}
.dity-generate .l-print .l-click-print {
  display: inline-block;
  width: 185px;
  margin-left: 70px;
  vertical-align: middle;
}
.dity-generate .l-copy-link {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 32px 0 29px;
}
.dity-generate .l-copy-link .l-link-con {
  font-size: 16px;
}
.dity-generate .l-copy-link .l-link-con .l-orange {
  color: #ff6000;
}
.dity-generate .l-copy-link .l-link-con .l-link {
  padding-top: 13px;
}
.dity-generate .l-copy-link .l-copy-site {
  width: 495px;
  margin-top: 26px;
}
/*店铺管理 end*/
.l-order-data .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #000000;
}
.l-order-data .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #000000;
}
.l-order-data .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #000000;
}
.l-order-data .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #000000;
}
/*ico start*/
.ico-search {
  width: 21px;
  height: 21px;
  background: url(../images/basic/ico_search.png) 0 0 no-repeat;
  cursor: pointer;
}
.ico-layer-sweep {
  width: 40px;
  height: 32px;
  background: url(../images/manage/ico_sweep.png) 0 0 no-repeat;
}
.ico-nominate-bg {
  width: 19px;
  height: 25px;
  font-size: 12px;
  background: url(../images/basic/ico_nominate_bg.png) 0 0 no-repeat;
}
.ico-money-brown {
  width: 8px;
  height: 11px;
  background: url(../images/basic/ico_money_brown.png) 0 0 no-repeat;
  margin: -3px 5px 0 0;
}
/*ico end*/
/*订单管理 start*/
.order-wrap {
  padding: 24px 3px 0px 3px;
}
.l-order-data {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 19px 5px 19px 8px;
  position: relative;
  margin: 0 20px 0 24px;
}
.l-order-data .l-search {
  position: absolute;
  top: 50%;
  margin-top: -11px;
  right: 0;
}
.l-order-data .form-list2 .li {
  display: inline-block;
  padding-left: 88px;
  float: left;
  padding-bottom: 0;
  margin-right: 24px;
}
.l-order-data .form-list2 .li .lab-title {
  height: 34px;
  line-height: 34px;
}
.l-order-data .form-list2 .li .ele-wrap {
  margin-bottom: 0;
}
.l-order-data .form-list2 .li .form-control {
  width: 145px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #000;
  font-size: 14px;
  color: #000;
}
.l-order-data .form-list2 .li-query {
  width: 188px;
  padding: 0;
}
.l-order-data .form-list2 .li-query .form-control {
  width: 100%;
  height: 36px;
}
.l-order-detail {
  margin-top: 20px;
}
.l-order-detail .l-detail-hd {
  padding: 15px 5px 15px 6px;
  border-bottom: 1px solid #999999;
  font-size: 0;
  margin: 0 20px 0 24px;
  font-weight: bold;
}
.l-order-detail .l-detail-hd .l-wp {
  display: inline-block;
  font-size: 14px;
}
.l-order-detail .l-detail-hd .l-wp1 {
  width: 420px;
}
.l-order-detail .l-detail-hd .l-wp2 {
  width: 287px;
}
.l-order-detail .l-detail-hd .l-wp3 {
  width: 73px;
  text-align: center;
}
.l-order-detail .btn-s2.btn-orange2:hover {
  background-color: #effff1;
  border-color: #00a217;
  color: #00a217;
}
.l-order-content.even {
  background: #f7f7f7 ;
}
.l-order-content.even .l-order-complete {
  border-top: 2px solid #ffffff;
}
.l-order-list .l-order-content {
  padding-bottom: 10px;
}
.l-order-con-top {
  padding: 26px 5px 26px 6px;
  margin: 0 20px 0 24px;
}
.l-order-con-top .l-order-left {
  float: left;
  width: 420px;
}
.l-order-con-top .l-order-left .l-modity {
  width: 168px;
  height: 98px;
  display: inline-block;
  vertical-align: middle;
}
.l-order-con-top .l-order-left .l-modity-con {
  display: inline-block;
  width: 198px;
  line-height: 14px;
  font-size: 14px;
  margin-left: 14px;
  vertical-align: middle;
}
.l-order-con-top .l-order-left .l-modity-con .l-con-tet {
  line-height: 18px;
}
.l-order-con-top .l-order-left .l-modity-con .l-orange {
  color: #ff7e00;
  margin-top: 8px;
}
.l-order-con-top .l-buy-people {
  float: left;
  width: 287px;
}
.l-order-con-top .l-buy-people span {
  display: block;
  width: 235px;
  font-size: 14px;
  line-height: 27px;
}
.l-order-con-top .l-buy-people .l-buy-address {
  line-height: 18px;
  margin-top: 5px;
}
.l-order-con-top .l-operation {
  width: 73px;
  float: left;
  text-align: right;
}
.l-order-con-top .l-operation .l-operation-btn {
  padding: 13px 0px 0;
}
.l-order-con-top .l-operation .l-operation-btn .btn-s2 {
  width: 73px;
  padding: 0 9px;
  line-height: 19px;
  border-radius: 0;
}
.l-order-con-top .l-operation .l-operation-btn .btn-s3 {
  width: 73px;
  margin-top: 23px;
  padding: 0 9px;
  border-radius: 3px;
}
.l-order-complete {
  border-top: 2px solid #f7f7f7;
  padding: 13px 0;
  margin: 0 17px 0 24px;
}
.l-order-complete .l-complete-txt {
  margin-right: 40px;
  color: #707070;
}
.l-order-complete .l-complete-txt .l-time {
  margin-left: 10px;
}
.l-order-complete .l-orange {
  float: right;
}
/*订单管理 end*/
/*商品管理 start*/
.modity-wrap .l-order-data .form-list2 .li {
  padding-left: 55px;
}
.modity-wrap .l-order-data .form-list2 .li .l-confines {
  width: 185px;
  padding: 0 10px;
  border: 1px solid #000;
}
.modity-wrap .l-order-data .form-list2 .li .l-confines .form-control {
  width: 42%;
  border: none;
  padding: 0;
  text-align: center;
}
.modity-wrap .l-order-data .form-list2 .li .l-confines .l-line {
  display: inline-block;
  width: 17px;
  height: 1px;
  border-top: 1px solid #000;
  vertical-align: middle;
}
.modity-wrap .l-order-data .form-list2 .li-query {
  padding-left: 0px;
}
.modity-wrap .l-detail-hd .l-wp1 {
  width: 227px;
}
.modity-wrap .l-detail-hd .l-wp2 {
  width: 152px;
  text-align: center;
}
.modity-wrap .l-detail-hd .l-wp3 {
  width: 137px;
  text-align: center;
}
.modity-wrap .l-detail-hd .l-wp4 {
  width: 142px;
  text-align: center;
}
.modity-wrap .l-detail-hd .l-wp5 {
  width: 110px;
  text-align: right;
}
.modity-wrap .l-order-list {
  border-bottom: 1px solid #dddddd;
}
.modity-wrap .l-order-list .l-order-content {
  padding-bottom: 0px;
}
.modity-wrap .l-order-con-top {
  position: relative;
  margin: 0 14px 0 24px;
  padding: 20px 5px 20px 6px;
}
.modity-wrap .l-order-con-top .proxyinput {
  position: absolute;
  top: 8px;
  left: -27px;
  font-size: 14px;
  padding: 5px 10px 5px 34px;
}
.modity-wrap .l-order-con-top .proxyinput.proxy-checkbox {
  background-image: url(../images/basic/checkbox.png);
}
.modity-wrap .l-order-con-top .proxyinput.checked {
  background-image: url(../images/basic/checkbox_checked.png);
}
.modity-wrap .l-order-left {
  width: 227px;
}
.modity-wrap .l-order-left .l-modity-con {
  display: block;
  width: 169px;
  margin-left: 0;
  margin-top: 10px;
}
.modity-wrap .l-order-left .l-sales {
  color: #ff0000;
  font-size: 16px;
  margin-top: 8px;
}
.modity-wrap .l-order-right {
  float: left;
  width: 71.11335013%;
}
.modity-wrap .l-order-right .l-modity-edit {
  padding: 30px 0 38px 0px;
  font-size: 0px;
}
.modity-wrap .l-order-right .l-modity-edit .l-stock,
.modity-wrap .l-order-right .l-modity-edit .l-price,
.modity-wrap .l-order-right .l-modity-edit .l-deduct {
  display: inline-block;
  width: 152px;
  text-align: center;
  font-size: 14px;
  vertical-align: middle;
}
.modity-wrap .l-order-right .l-modity-edit .l-stock .l-edit-num,
.modity-wrap .l-order-right .l-modity-edit .l-price .l-edit-num,
.modity-wrap .l-order-right .l-modity-edit .l-deduct .l-edit-num {
  display: inline-block;
  width: 80px;
}
.modity-wrap .l-order-right .l-modity-edit .l-stock .l-edit-num .form-control,
.modity-wrap .l-order-right .l-modity-edit .l-price .l-edit-num .form-control,
.modity-wrap .l-order-right .l-modity-edit .l-deduct .l-edit-num .form-control {
  display: inline-block;
  width: 100%;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid transparent;
  color: #000;
}
.modity-wrap .l-order-right .l-modity-edit .l-stock .l-num,
.modity-wrap .l-order-right .l-modity-edit .l-price .l-num,
.modity-wrap .l-order-right .l-modity-edit .l-deduct .l-num {
  line-height: 28px;
  font-size: 14px;
}
.modity-wrap .l-order-right .l-modity-edit .l-price {
  width: 137px;
}
.modity-wrap .l-order-right .l-modity-edit .l-price .l-edit-num {
  width: 110px;
}
.modity-wrap .l-order-right .l-modity-edit .l-price .l-edit-num .form-control {
  padding: 0 15px 0 28px;
  color: #fe2624;
  text-align: left;
  background-image: url(../images/basic/ico_money.png);
  background-position: 15px center;
  background-repeat: no-repeat;
}
.modity-wrap .l-order-right .l-modity-edit .l-deduct {
  width: 142px;
}
.modity-wrap .l-order-right .l-modity-edit .l-modity-link {
  display: inline-block;
  width: 127px;
  text-align: right;
  position: relative;
  vertical-align: middle;
}
.modity-wrap .l-order-right .l-modity-edit .l-modity-link .l-ewm-link {
  padding-left: 20px;
}
.modity-wrap .l-order-right .l-modity-edit .l-modity-link .l-ewm-link .btn-black {
  width: 100%;
}
.modity-wrap .l-order-right .l-modity-edit .l-modity-link .l-nominate {
  position: absolute;
  top: -46px;
  right: 0;
  font-size: 0;
}
.modity-wrap .l-order-right .l-modity-edit .l-modity-link .l-nominate .l-nominate-txt {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding: 0 17px;
  color: #fff;
  font-size: 12px;
  background: #ff7e00;
  vertical-align: middle;
}
.modity-wrap .l-order-right .l-order-complete {
  padding: 13px 10px 13px 56px;
  margin: 0;
}
.modity-wrap .l-order-right .l-order-complete .l-complete-left {
  float: left;
}
.modity-wrap .l-order-right .l-order-complete .l-complete-right {
  float: right;
  margin-top: 5px;
}
.modity-wrap .l-order-right .l-order-complete .l-complete-right .btn-s2 {
  padding: 0 10px;
  border-radius: 3px;
  margin-left: 8px;
}
.modity-wrap .l-modity-operation .l-operation-con {
  padding: 13px 10px 0 0;
  line-height: 21px;
}
.modity-wrap .l-modity-operation .l-operation-con .l-check-all {
  display: inline-block;
  vertical-align: middle;
}
.modity-wrap .l-modity-operation .l-operation-con .l-check-all .proxyinput {
  margin-top: 0;
}
.modity-wrap .l-modity-operation .l-operation-con .l-check-all .proxyinput.proxy-checkbox {
  background-image: url(../images/basic/checkbox.png);
}
.modity-wrap .l-modity-operation .l-operation-con .l-check-all .proxyinput.checked {
  background-image: url(../images/basic/checkbox_checked.png);
}
.modity-wrap .l-modity-operation .l-operation-con .l-complete-right {
  margin-left: 42px;
  display: inline-block;
  vertical-align: middle;
}
.modity-wrap .l-modity-operation .l-operation-con .l-complete-right .btn-s2 {
  padding: 0 12px;
  margin-right: 12px;
}
.modity-wrap .l-modity-operation .l-operation-con .l-complete-right .l-cancel {
  width: 77px;
}
.modity-wrap .l-modity-operation .l-operation-con .l-title {
  float: right;
  color: #949494;
}
.modity-wrap .pages_tab {
  padding: 65px 0 0px 0;
}
/*商品管理 end*/
/*数据统计 start*/
.data-wrap .l-order-data {
  padding: 16px 5px 11px 8px;
}
.data-wrap .data-list {
  margin-left: -13px;
}
.data-wrap .data-list .li {
  width: 382px;
  margin-bottom: 12px;
  float: left;
  margin-left: 13px;
}
.data-wrap .data-list .li .table-s1 thead tr {
  background: #faf1c8 ;
  border-bottom: none;
}
.data-wrap .data-list .li .table-s1 thead tr th {
  width: 33%;
  text-align: center;
  padding: 10px 0;
  color: #af7803;
  font-size: 14px;
  font-weight: normal;
}
.data-wrap .data-list .li .table-s1 tbody tr {
  border-bottom: 2px solid #ffffff;
}
.data-wrap .data-list .li .table-s1 tbody tr td {
  padding: 0px 2px 0px 0;
}
.data-wrap .data-list .li .table-s1 tbody tr td .l-count {
  display: inline-block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #895d01;
  background: #fff7e9;
  vertical-align: middle;
}
.data-wrap .data-list .li .table-s1 tbody tr td:last-child {
  padding: 0;
}
.data-wrap .l-detail-hd .l-wp1 {
  width: 227px;
}
.data-wrap .l-detail-hd .l-wp2 {
  width: 90px;
}
.data-wrap .l-detail-hd .l-wp3 {
  width: 135px;
}
.data-wrap .l-detail-hd .l-wp4 {
  width: 90px;
}
.data-wrap .l-detail-hd .l-wp5 {
  width: 135px;
  text-align: center;
}
.data-wrap .l-detail-hd .l-wp6 {
  width: 90px;
  text-align: center;
  padding-left: 20px;
}
.data-wrap .l-order-right .l-modity-edit {
  padding: 34px 0 44px 0px;
  font-size: 0;
}
.data-wrap .l-order-right .l-modity-edit .l-browse,
.data-wrap .l-order-right .l-modity-edit .l-visitor,
.data-wrap .l-order-right .l-modity-edit .l-ewm-num,
.data-wrap .l-order-right .l-modity-edit .l-exp,
.data-wrap .l-order-right .l-modity-edit .l-price {
  display: inline-block;
  width: 90px;
  text-align: center;
  font-size: 14px;
}
.data-wrap .l-order-right .l-modity-edit .l-visitor {
  width: 135px;
}
.data-wrap .l-order-right .l-modity-edit .l-ewm-num {
  width: 90px;
}
.data-wrap .l-order-right .l-modity-edit .l-exp {
  width: 135px;
}
.data-wrap .l-order-right .l-modity-edit .l-price {
  width: 90px;
  padding-left: 20px;
}
.data-wrap .l-order-right .l-order-complete {
  padding: 13px 14px 13px 25px;
}
.data-wrap .pages_tab {
  padding: 90px 0 40px 0;
}
/*数据统计 end*/
/*二维码弹层*/
.l-pop-ewm {
  padding: 65px 32px 74px 32px;
}
.l-pop-ewm .l-ewn-img {
  display: inline-block;
  width: 222px;
  height: 222px;
  border: 1px solid #fd9526;
  position: relative;
  vertical-align: top;
}
.l-pop-ewm .l-ewn-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.l-pop-ewm .l-ewn-img .l-sweep {
  position: absolute;
  top: -15px;
  right: -13px;
}
.l-pop-ewm .l-ewn-con {
  display: inline-block;
  width: 355px;
  margin: 0 60px 0 78px;
  vertical-align: top;
}
.l-pop-ewm .l-ewn-con .l-orange {
  font-size: 14px;
  padding: 25px 0 15px 0;
}
.l-pop-ewm .l-ewn-con .l-dity-con {
  padding: 0px 0 15px 0;
  line-height: 20px;
}
.l-pop-ewm .l-ewn-con .l-dity-con .l-link {
  margin-left: 30px;
}
/*发货弹层*/
.l-pop-delivery {
  padding: 47px 152px 25px 127px;
}
.l-pop-delivery .form-list2 .li {
  padding-bottom: 26px;
  padding-left: 167px;
}
.l-pop-delivery .form-list2 .li .form-control {
  height: 45px;
  line-height: 45px;
  font-size: 20px;
  border: 1px solid #000;
}
.l-pop-delivery .form-list2 .li .l-fast-con {
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}
.l-pop-delivery .form-list2 .lab-title {
  height: 45px;
  line-height: 45px;
  font-size: 20px;
}
/*物流信息*/
.l-fast-mail {
  padding: 47px 152px 25px 230px;
}
/*关闭订单*/
.l-cancel_order {
  padding: 27px 93px 15px 103px;
}
/*代言管理 start*/
.rugby-wrap .l-order-data .form-list2 .li {
  padding: 0;
  margin-right: 50px;
}
.rugby-wrap .l-order-data .form-list2 .li .form-control {
  width: 180px;
}
.rugby-wrap .l-order-data .form-list2 .li-query {
  width: 230px;
}
.rugby-wrap .l-order-data .form-list2 .li-query .form-control {
  width: 100%;
  height: 34px;
}
.rugby-wrap .l-detail-hd {
  text-align: left;
  padding: 4px 0 5px;
}
.rugby-wrap .l-detail-hd .l-wp {
  vertical-align: middle;
}
.rugby-wrap .l-detail-hd .l-wp1 {
  width: 260px;
}
.rugby-wrap .l-detail-hd .l-wp2 {
  width: 170px;
  text-align: left;
}
.rugby-wrap .l-detail-hd .l-wp3 {
  width: 140px;
  text-align: left;
}
.rugby-wrap .l-detail-hd .l-wp4 {
  width: 125px;
  text-align: left;
}
.rugby-wrap .l-detail-hd .l-wp5 {
  width: 80px;
  text-align: left;
}
.rugby-wrap .l-order-list {
  border: none;
}
.rugby-wrap .l-order-con-top {
  padding: 29px 5px 24px 6px;
}
.rugby-wrap .l-order-con-top .l-order-left {
  width: 220px;
}
.rugby-wrap .l-order-con-top .l-order-left .l-modity-con {
  width: 100%;
  margin-top: 0;
}
.rugby-wrap .l-order-right .l-modity-edit {
  padding: 0px 0 30px 40px;
  font-size: 0px;
}
.rugby-wrap .l-order-right .l-modity-edit .wechat-number,
.rugby-wrap .l-order-right .l-modity-edit .browse-volume,
.rugby-wrap .l-order-right .l-modity-edit .purchase-quantity,
.rugby-wrap .l-order-right .l-modity-edit .l-Profit {
  width: 170px;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  vertical-align: top;
}
.rugby-wrap .l-order-right .l-modity-edit .browse-volume {
  width: 140px;
  text-align: left;
}
.rugby-wrap .l-order-right .l-modity-edit .purchase-quantity {
  width: 125px;
  text-align: left;
}
.rugby-wrap .l-order-right .l-modity-edit .l-Profit {
  width: 80px;
  text-align: left;
}
.rugby-wrap .l-order-right .l-order-complete {
  padding: 13px 10px 13px 40px;
}
.rugby-wrap .l-order-right .l-order-complete .l-complete-right {
  margin-top: 0;
}
.rugby-wrap .pages_tab {
  padding: 89px 0 8px 0;
}
/*代言管理 end*/
/*# sourceMappingURL=manage.css.map */