@charset "utf-8";

/****tj-head*****/
.head-bg{width:100%;height:66px;background:#eb7855;}
.head-bg p a{font-size:24px;color:#fff;line-height:66px;}
.head-bg p .huiyuan{font-size:12px;color:#fff;margin-left:30px;}
.head-bg p .huiyuan:hover{text-decoration:underline;}

/******tj-con***********/
.tj-head dl{margin:30px 0 10px;float: left;width:247px;height:96px;text-align:center;border:1px solid #e5e5e5;border-right:0;}
.tj-head .no-right{border-right:1px solid #e5e5e5}
.tj-head dl dt{font-size:14px;color:#333;line-height:30px;}
.tj-head dl dd{font-size:30px;color:#333;line-height:66px;}
.tj-select{height:56px;background:#eee;border:1px solid #DDDDDD;margin:20px auto;position: relative;width: 800px;}
.tj-select .tj-time{float:left;height:30px;width:165px;border:1px solid #ccc;margin:12px 0 0 20px;background:#fff;}
.tj-select .tj-time>li{line-height:32px;position:relative;}
.tj-select .tj-time>li>a{color:#666;font-size:12px;text-decoration:none;}
.tj-date img{margin:8px 6px 8px 10px;float:left;}
.tj-san{float:right;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-top:8px solid #ddd;margin:11px 10px;}

/*
.tj-all{display:none;background:#fff;width:165px;position:absolute;top:32;left:0;}
.tj-all li>a{display:inline-block;text-indent:10px;color:#333;text-decoration: none;}
.tj-all li:hover{background:#4DBAF2;cursor:pointer;}
.tj-all li:hover>a{color:#fff;}
.tj-all .tj-date>a{text-indent:30px;display: inline-block;width:140px;height:22px;background: url(../images/rili.png) no-repeat 10px 8px;}
.tj-all .tj-date:hover a{background: url(../images/white-rili.png) no-repeat 10px 8px;}
.tj-all .tj-date{position:relative;}*/

.tj-all{display:none;background:#fff;width:165px;position:absolute;top:32px;left:0;}
.tj-all a{display:block;text-indent:10px;color:#333;text-decoration: none;}
.tj-all a:hover{background:#ec6f49;cursor:pointer;}
.tj-all a:hover{color:#fff;}
.tj-all .tj-date li{text-indent:20px;display: inline-block;width:140px;background: url(../images/rili.png) no-repeat 0px 8px;}
.tj-all .tj-date:hover li{background: url(../images/white-rili.png) no-repeat 0px 8px;}
.tj-all .tj-date li{position:relative;}

.tj-sanji{display:none;position:absolute;bottom:12px;left:20px;width:400px;}
.tj-sanji a{display:block;float:left;height:30px;}
.tj-sanji .s-date,.tj-sanji .e-date{background:#fff;width:96px;border:1px solid #bbb;color:#333;text-indent:10px;text-decoration:none;line-height: 30px;}
.tj-sanji hr{float:left;width:30px;margin:15px 10px;}
.tj-btn,.tj-btn2,.tj-btn3{display:inline-block;width:48px;background:#ec6f49;text-align:center;line-height:30px;color:#fff;margin-left:10px;text-decoration:none;}
.tj-search{float:right;}
.tj-search .tj-btn2{background:#ec6f49}
.tj-search .tj-btn2:hover a{color:#fff}
.tj-sanji .tj-btn3{background:#ccc}
.select-type{margin:12px 0;background:#fff;text-indent:6px;width:90px;height:30px;line-height: 30px;border:1px solid #bbb;float:left;}
.search-p{float:right;margin:12px 20px;}
.search-p input{text-indent:6px;height:28px;line-height:28px;width:160px;}
.select-type>li{position:relative;}
.select-er{display:none;background: #fff;position:absolute;top:31px;width:90px;}
.select-er li{cursor:pointer;}
.select-er li:hover{background:#ec6f49;color:#fff;}

.tj-table table{width:100%;text-align:center;border-color:#ddd;margin-top:10px;border:solid thin #ddd;}
.tj-table table tr{height:42px;border-color: #ddd;}
.tj-table table th{background:#f5f5f5;}
.tj-table  th,.tj-table table tr,.tj-table table td{border:solid thin #ddd;}
.tj-table .tj-btn{display:block;width:88px;height:30px;border:1px solid #ec6f49;margin:0 auto;background:none;color:#ec6f49;}
.tj-table .tj-btn:hover{background:#ec6f49;color:#fff;}
.t-input{height:100%;width:100%;border:0;text-indent:10px;}
.tj-table  .up-down1{display:inline-block;float:left;width:16px;height:20px;background:url(../images/gray-biao.png) no-repeat left center;}
.tj-table  .up-down2{display:inline-block;float:left;width:16px;height:20px;background:url(../images/blue-up.png) no-repeat left center;}
.tj-table  .up-down3{display:inline-block;float:left;width:16px;height:20px;background:url(../images/blu.png) no-repeat left center;}
.tj-table th p{float:left;margin:0 10px 0 30px;font-weight:bold;}

.num-ye{padding:30px 0;text-align:center;}
.num-ye a{padding:6px 10px;border:1px solid #f2f2f2;color:#999;}
.num-ye a:hover{border-color: #ec6f49;background:#ec6f49;color:#fff;}
.num-ye .on-blue{border-color: #ec6f49;background:#ec6f49;color:#fff;}
.yy-name{font-size:16px;line-height:30px;text-indent: 10px;color:#999;margin-top:20px;}
.yy-name span{color:#ec6f49;}
.xianshi{display:inline-block;width:103px;}
