<!DOCTYPE html>
<html>
<head>
    <title>数据统计</title>
    {% include "admin_shared/before_header.html" %}
</head>
<body>

{% include "admin_shared/header.html" %}

<!-- page-main start -->
<div class="page-main full body_bg">
    <div class="wrap">
        <div class="revenum-wrap clearfix">

            {% include "admin_shared/left.html"  %}

            <!-- main right start -->
            <div class="main">
                <div class="order-wrap modity-wrap data-wrap">
                    <!-- 订单信息 start -->
                    <div class="l-order-data">
                        <ul class="data-list clearfix">
                            <li class="li">
                                <table class="table-s1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span>总交易额</span>
                                        </th>
                                        <th>
                                            <span>实际收入</span>
                                        </th>
                                        <th>
                                            <span>买家代言分成</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="l-count">
                                                <i class="ico ico-money-brown"></i>
                                                {{ stat['total_sales']|default('0') }} 元
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                <i class="ico ico-money-brown"></i>
                                                {{ stat['net_income']|default('0') }} 元
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                <i class="ico ico-money-brown"></i>
                                                {{ stat['share_revenues']|default('0') }} 元
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="li">
                                <table class="table-s1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span>总访客人数</span>
                                        </th>
                                        <th>
                                            <span>总下单人数</span>
                                        </th>
                                        <th>
                                            <span>总转化率</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['shop_uv']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat_order_count }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat_cover_percent }} %
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="li">
                                <table class="table-s1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span>总浏览量</span>
                                        </th>
                                        <th>
                                            <span>总访客人数</span>
                                        </th>
                                        <th>
                                            <span>人均访问</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['shop_pv']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['shop_uv']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat_avg_visit }}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="li">
                                <table class="table-s1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span>总代言人数</span>
                                        </th>
                                        <th>
                                            <span>一级代言人</span>
                                        </th>
                                        <th>
                                            <span>二级代言人</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="l-count">
                                                {{ stat_all_num }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['first_num']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['second_bum']|default('0') }}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="li">
                                <table class="table-s1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span>体验报告数</span>
                                        </th>
                                        <th>
                                            <span>体验报告被分享数</span>
                                        </th>
                                        <th>
                                            <span>报告的浏览量</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['report_num']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['report_share_num']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['report_pv']|default('0') }}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <li class="li">
                                <table class="table-s1">
                                    <thead>
                                    <tr>
                                        <th>
                                            <span>二维码数量</span>
                                        </th>
                                        <th>
                                            <span>二维码被扫码次数</span>
                                        </th>
                                        <th>
                                            <span>平均扫码次数</span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['qr_code_num']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat['qr_code_pv']|default('0') }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="l-count">
                                                {{ stat_avg_qrcode }}
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>
                    <!-- 订单信息 end-->
                    <!-- 订单详情 start -->
                    <div class="l-order-detail">
                        <div class="l-detail-hd">
                            <div class="l-wp l-wp1"><span>商品名称</span></div>
                            <div class="l-wp l-wp2"><span>浏览量</span></div>
                            <div class="l-wp l-wp3"><span>访客人数</span></div>
                            <div class="l-wp l-wp4"><span>二维码数量</span></div>
                            <div class="l-wp l-wp5"><span>体验报告数</span></div>
                            <div class="l-wp l-wp6"><span>总交易额</span></div>
                        </div>

                        {% if info and info['items'] %}
                        <ul class="l-order-list evenParent" even_cell="li">
                            {% for value in info['items'] %}
                            <li class="l-order-content">
                                <div class="l-order-con-top clearfix">
                                    <div class="l-order-left">
                                        <a class="l-modity" target="_blank" href="/product/edit?pid={{ value['id'] }}">
                                            {% if value['img_url'] %}
                                                <img src="http://{{ public }}/{{ value['img_url'] }}?imageView2/1/w/168/h/98" width="168" height="98" />
                                            {% else %}
                                                <img src="/static/www/pc/v1/images/manage/commodity_img.png" />
                                            {% endif %}
                                        </a>
                                        <div class="l-modity-con">
                                            <div class="l-con-tet">{{ value['name'] }}</div>
                                        </div>
                                        <div class="l-sales">
                                            <span>销量： {{ value['sales'] }}</span>
                                        </div>
                                    </div>
                                    <div class="l-order-right">
                                        <div class="l-modity-edit">
                                            <div class="l-browse">
                                                <span class="l-num">
                                                    {% if value['product_stat'] %}
                                                        {{ value['product_stat']['product_pv']|default('0') }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="l-visitor">
                                                <span class="l-num">
                                                    {% if value['product_stat'] %}
                                                        {{ value['product_stat']['product_uv']|default('0') }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="l-ewm-num">
                                                <span class="l-num">
                                                    {% if value['product_stat'] %}
                                                        {{ value['product_stat']['qr_code_num']|default('0') }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="l-exp">
                                                <span class="l-num">
                                                    {% if value['product_stat'] %}
                                                        {{ value['product_stat']['report_num']|default('0') }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="l-price">
                                                <span class="l-num l-red">
                                                    {% if value['product_stat'] %}
                                                        ￥{{ value['product_stat']['total_sales']|default('0') }} 元
                                                    {% else %}
                                                        ￥0.00 元
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </div>
                                        <div class="l-order-complete clearfix">
                                            <div class="l-complete-left">
                                                <span class="l-complete-txt">
                                                    发布： {{ value['create_time'] }}
                                                </span>
                                                <span class="l-complete-txt">
                                                    更新： {{ value['update_time'] }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}

                    </div>
                    <!-- 订单详情 end -->

                    {% if info['pages'] > 0 %}
                        <!-- pages_tab -->
                        <div class="pages_tab">
                            {% if info['has_prev'] %}
                                <a href="/counter?page={{ info['prev_num'] }}" class="p_prev"><span>上一页</span></a>
                            {% endif %}
                            <div class="pages-tab">
                                {% for p in range(1, info['pages'] + 1) %}
                                    {% if p == page %}
                                        <a href="/counter?page={{ p }}" class="cur"><span>{{ p }}</span></a>
                                    {% else %}
                                        <a href="/counter?page={{ p }}"><span>{{ p }}</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if info['has_next'] %}
                                <a href="/counter?page={{ info['next_num'] }}" class="p_next"><span>下一页</span></a>
                            {% endif %}
                            <span class="page-number">共{{ info['pages'] }}页</span>
                        </div>
                        <!-- pages_tab end-->
                    {% endif %}

                </div>
            </div>
            <!-- main right end -->
        </div>
    </div>
</div>
<!-- page-main end -->

{% include "admin_shared/footer.html"  %}

{% include "admin_shared/after_footer.html"  %}

</body>
</html>